<div class="summary-header">
  <div class="container">
    <ul class="summary-header-links">
      <li>
        <a
        [routerLink]="['/home']"
          class="primary-navigation"
          rel="noopener"
        >
          Home
        </a>
      </li>
      <span class="divider">|</span>
      <li>
        <a
          [routerLink]="['/questionnaire']"
          class="primary-navigation"
          rel="noopener"
        >
          Questionnaire
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
   <section>
      <div>
         <h1 class="mb-3" style="font-size: 28px;">Child Support Recalculation Service</h1>
         <mat-divider class="mb-4"></mat-divider>
         <h2 class="mb-1" style="font-size: 24px;"><strong>Questionnaire</strong></h2>
         <p  class="mb-1 text-dark" style="font-size: 18px;">Answer the following questions to learn about the Child Support Recalculation Service and your child support</p>
         <hr class="mb-4" style="opacity: 1">
        </div>
   </section>
   <section>
      <div class="flex-6-col">
         <mat-vertical-stepper #stepper linear>
            <ng-template matStepperIcon="edit" let-index="index">
             <mat-icon>{{data[index].clicked == 'Yes'&& data[index].submit ? 'done' : data[index].clicked == 'No' ? 'clear':'edit'}}</mat-icon>             </ng-template>
            <mat-step class="notSelected" *ngFor="let question of data; index as i;" [editable]="isEditable">
               <ng-template matStepLabel="" >
                  <!-- <div *ngIf="question.clicked == 'Yes'"><mat-icon [ngClass]="{ 'colorGreen' :question.clicked == 'Yes' }">done</mat-icon></div>
                     <div *ngIf="question.clicked == 'No'"><mat-icon [ngClass]="{ 'colorRed' :question.clicked == 'No' }">cancel</mat-icon></div>   -->
                  <span style="font-size: 20px;">{{question.label}}</span>
               </ng-template>
               <ng-template class="question-content" matStepContent="">
                  <div *ngFor="let contentItem of question.content; index as coi;">
                    <strong>{{contentItem.label}}</strong>
                     <ol type="a" *ngIf="contentItem.data">
                       <li *ngFor="let oiItem of contentItem.data.ol;index as oli ">
                        <div style="display: flex;flex-direction: row;"><span class="list-item" id="{{'ol-'+i+'-'+coi+'-'+oli}}">{{stringToHTML(i,coi,oli,oiItem.liData,'ol')}}</span><mat-icon *ngIf='oiItem.tooltipData' matTooltip="{{oiItem.tooltipData}}"  #tooltip3="matTooltip" class="toolTipIcon">{{'info'}}</mat-icon></div>
                       </li>
                     </ol>
                  </div>
                  <div class="button-row mt-2 ">
                    <mat-divider class="mb-4"></mat-divider>
                     <button class="toggle-button" *ngFor="let buttonItem of question.buttons; index as bi" mat-stroked-button color="basic" (click)="setLabel(question,buttonItem,i)" [ngClass]="setColor(question,buttonItem,i)">
                     {{buttonItem.label}}
                     <div class="mb-5" *ngIf="question.clicked == buttonItem.label && buttonItem.clickedContent.length!=0">
                      <img class="" src="/assets/Down-chevron-icon.svg">
                     </div>
                     </button>
                     <br>
                  </div>
                  <div class="yesNocontent text-dark" *ngFor="let buttonItem of question.buttons; index as yi">
                     <div *ngIf="buttonItem.label == question.clicked">
                        <div *ngFor="let cItem of buttonItem.clickedContent; index as ci">
                           <p id="{{'id-'+i+'-'+yi+'-'+ci}}" *ngIf="!cItem.data.ul">{{stringToHTML(i,yi,ci,cItem.data,'id')}}</p>
                           <ul *ngIf="cItem.data.ul">
                              <li id="{{'li-'+i+'-'+yi+'-'+uli}}" *ngFor="let liItem of cItem.data.ul;index as uli ">
                                 {{stringToHTML(i,yi,uli,liItem.liData,'li')}}
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <hr class="mt-0 mb-4" style="opacity: 1">
                  <div class="button-row">
                     <span *ngFor="let nextBackButton of question.forwardButtons; index as nbi">
                     <button *ngIf="nextBackButton.name=='back'" mat-stroked-button color="basic" matStepperPrevious (click)="setUIconColor(i,question)">< {{nextBackButton.label}}</button>
                     <button class="nextStep" [disabled]="!question.clicked" *ngIf="nextBackButton.name=='next'" mat-stroked-button color="basic" matStepperNext (click)="setUIconColor(i,question)">Next ></button>
                     </span>
                  </div>
               </ng-template>
            </mat-step>
            <!--Questionnaire completed -->
            <mat-step>
              <ng-template matStepLabel=""> Questionnaire complete </ng-template>
              <ng-template matStepContent="">
                <p style="color: black;">Review your responses to the questions, if:</p>
                <mat-divider></mat-divider>
                <h1 style="margin-top: 15px;"><strong>I think I am eligible and want to enrol</strong></h1>
                <hr style="opacity: 1" />
                <p class="text-dark">
                  <strong
                    >To apply online, you will need a BCeID account.</strong
                  >
                </p>
                <div class="container p-0 mb-2">
                  <div #alertContent class="alert-content row">
                    <span class="col-sm-2" style="width: 10%;">
                      <img
                        style="height: 70px; width: auto"
                        src="/assets/Questionnaire-End_icon.svg"
                      />
                    </span>
                    <div class="col-sm-10">
                      <h1>Before you start your application, make sure you have:</h1>
                      <ul class="text-dark">
                        <li>
                          Contact information for you and the other party (to the best
                          of your knowledge)
                        </li>
                        <li>A copy of your current order or written agreement</li>
                        <li>Child(ren) information</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p style="color: black;">
                  Sign in with your BCeID to proceed, if you do not have a BCeID please
                  create an account first.
                </p>
                <div class="flex-6-col">
                  <mat-grid-list cols="6" rowHeight="60px" gutterSize="5px">
                    <mat-grid-tile
                      class="mi-tile-contents-center"
                      aria-rowindex="0"
                      colspan="3"
                      rowspan="1"
                    >
                      <a class="useful-links bceIdLink" target="_blank" rel="noopener" (click)="login();">
                        <button
                          style="width: 400px;margin-left:-170px;"
                          type="button"
                          mat-flat-button
                          color="primary"
                        >
                          BCeID Login
                        </button>
                      </a>

                    </mat-grid-tile>
                    <mat-grid-tile
                      class="mi-tile-contents-center"
                      aria-rowindex="0"
                      colspan="3"
                      rowspan="1"
                    >
                      <a class="useful-links bceIdLink" [attr.href]="bceIdRegisterLink" target="_blank" rel="noopener">
                        <button style="width: 400px" mat-stroked-button color="primary">
                          Register for a Basic BCeID
                        </button>
                      </a>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
                <div class="container mt-4 mb-2">
                  <div #alertContent class="alert-text2 row">
                    
                      <span class="text-dark"><strong style="color: #003366;"><img style="width: 2%;" src="/assets/PDF_icon.svg" /> Prefer a pdf to complete your application? </strong>
                       You can download the PDF version of the application <a style="cursor:pointer; text-decoration: underline;" (click)="downloadApplication();">here</a> and mail the completed <br>   <span class="ml-3">package.</span></span>
                    </div>
                </div>
                <p>
                  <strong>I’m not sure if I am eligible and have questions</strong>
                </p>
                <hr style="opacity: 1" />
                <p>
                  If you have more questions about your eligibly, please contact:<br>
                  <strong>Child Support Recalculation Service: </strong>
                </p>
                  <a href="tel:1-866-660-2684">1-866-660-2684</a> <br>
                  <a href="tel:604-660-2528">604-660-2528</a>
              </ng-template>
            </mat-step>

         </mat-vertical-stepper>
      </div>
   </section>
</div>
