.alert-content {
    border: 1px solid gray;;
    border-left: 4px solid darkblue;
    height:175px;
    padding: 30px;
    padding-left: 10px;
    margin-left: 10px;
    }
    .alert-text{
        border: 1px solid gray;;
        border-left: 4px solid darkblue;
        height: 50px;
        margin-left: 10px;
    }