<div class="container">
  <section class="header-section">
    <div>
      <h2 class="mt-4 mb-0">Child Support Recalculation Account Setup</h2>
      <p class="text-dark">
        To create your recalculation service account, please complete the following:
      </p>
      <hr style="opacity: 1; color: #fcba19" />
    </div>
  </section>
  <section class="stepper-section">
    <div class="flex-6-col">
      <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Your Personal Information</ng-template>
            <div class="pb-1">
              Fields marked <span class="text-danger">*</span> are required.
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal first name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="firstName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal middle name</mat-label>
                  <input matInput formControlName="givenNames" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal last name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="lastName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Preferred name</mat-label>
                  <input matInput formControlName="PreferredName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Date of birth<span class="text-danger">*</span></mat-label>
                  <input matInput [matDatepicker]="picker2" [max]="today" formControlName="birthdate">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error>{{ errorMessage + errorDateMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 1<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="address1" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 2</mat-label>
                  <input matInput formControlName="saddress" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>City<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="city" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Province<span class="text-danger">*</span></mat-label>
                    <mat-select formControlName="province">
                      <mat-option *ngFor="let province of provinces; index as pi" [value]="province.id">
                        {{ province.value }}
                      </mat-option>
                  </mat-select>
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Postal Code<span class="text-danger">*</span></mat-label>
                  <input matInput placeholder="XXX-XXX" mask="S0S 0S0" oninput="this.value = this.value.toUpperCase()"
                    formControlName="postalCode" [showMaskTyped]="false" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Home phone number</mat-label>
                  <input matInput formControlName="phoneNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Cell phone number</mat-label>
                  <input matInput formControlName="cellNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Work phone number</mat-label>
                  <input matInput formControlName="workNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email<span class="text-danger">*</span></mat-label>
                  <input matInput placeholder="email@domain.ca" formControlName="email" />
                  <mat-error>{{ errorMessage + errorMailMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders; index as pi" [value]="gender.id">
                      {{ gender.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row text-dark pt-3">
              <strong>What best describes your identity?</strong>
              <div><strong style="color: #003366;">Note:</strong> This question is voluntary. The Child Support Recalculation Program wants to ensure that families can access its services.</div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Identity</mat-label>
                  <mat-select formControlName="identity">
                    <mat-option *ngFor="let identity of identities; index as pi" [value]="identity.id">
                      {{ identity.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button routerLink="/communication" mat-stroked-button color="basic" matStepperPrevious>
                < Back
              </button>
              <button class="nextStep" [disabled]="!secondFormGroup.valid"  mat-raised-button color="primary" matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="sixFormGroup">
          <form [formGroup]="sixFormGroup">
            <ng-template matStepLabel>Additional Information</ng-template>
            <div class="row text-dark mt-4">
              <div class="col-md-6">
                <p>Do you have any concerns for your safety or your children’s safety?</p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="childSafety" aria-label="Select an option">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                  <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="example-container width100">
              <mat-form-field appearance="fill">
                <mat-label>If yes, please provide any details including any protection orders in place involving you or the other party</mat-label>
                <textarea formControlName="childSafetyDescription" matInput #input rows="4"></textarea>
                <mat-error>{{ errorMaxMessage | json }}</mat-error>
              </mat-form-field>
            </div>
            <div class="row text-dark mt-4">
              <div class="col-md-6">
                <p>What is your preferred method of contact?</p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="contactMethod" aria-label="Select an option">
                  <mat-radio-button value="Email">Email</mat-radio-button>
                  <mat-radio-button value="Paper Mail">Paper Mail</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row text-dark mt-4">
              <div class="col-md-6">
                <p>Are you currently on income assistance?</p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="incomeAssistance" aria-label="Select an option">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                  <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button class="nextStep" [disabled]="!sixFormGroup.valid"  mat-raised-button color="primary" matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="eFormGroup">
          <form [formGroup]="eFormGroup">
            <ng-template matStepLabel>Enrolment Responsibilities</ng-template>

            <div class="text-dark">
              <ul>
                <li>
                  I will notify the recalculation service of any changes in my contact information or any legal action
                  which may impact the recalculation of my child support.
                </li>
                <li>
                  I understand the recalculation service may access Court Services Online to obtain copies of the
                  child support order or written agreement.
                </li>
                <li>
                  Unless a court orders otherwise, I may withdraw from the recalculation service providing that the
                  other party also agrees to withdraw.
                </li>
                <li>
                  I understand that if I do not provide my income tax information, as requested by the recalculation
                  service, the service may adjust my annual income amount using rate increases set out under the
                  Family Law Act Regulation.
                </li>
                <li>
                  I understand the use of the information I provide to the recalculation service is for the purposes
                  of child support recalculation. If I am involved with the Family Maintenance Enforcement Program,
                  my information may be shared with this program.
                </li>
                <li>
                  I understand that by submitting this electronic application future program communication will
                  occur through my recalculation service account unless I request otherwise. The information I have
                  given on this form is true and correct to the best of my knowledge and belief.
                </li>
              </ul>
              <p>
                <strong>Collection Notices: </strong><i>Your personal information is collected by Ministry of Attorney General’s Maintenance Enforcement
                and Locate Services (MELS) pursuant to section 26(a) and (c) of the Freedom of Information and Protection of Privacy Act
                and the Family Law Act. MELS uses this information for the purposes of establishing, recalculating or enforcing child
                support. Should you have any questions about the collection, use or disclosure of your personal information, please
                contact a Client Relations Officer: Mailing Address: PO Box 2074 Station Main, Vancouver BC, V6B 3S3 or Phone
                Number: (604) 660-2528.</i>
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button class="nextStep" mat-raised-button color="primary" matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="nineFormGroup">
          <form [formGroup]="nineFormGroup" class="text-dark">
            <ng-template matStepLabel>Review and Submit Your Account Setup Request
            </ng-template>
            <div>
              Review all application details below to ensure information is correct. You can go back and edit any of
the information before submission.
            </div>
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Your Personal Information</strong>
                <a class="edit-text-color" (click)="editPage(stepper,1)">Edit</a>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal first name:</div>
                  <div class="bold">{{secondFormGroup.value.firstName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal middle name(s):</div>
                  <div class="bold">{{(secondFormGroup.value.givenNames)?secondFormGroup.value.givenNames:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal last name:</div>
                  <div class="bold">{{secondFormGroup.value.lastName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Preferred name:</div>
                  <div class="bold">{{(secondFormGroup.value.PreferredName)?secondFormGroup.value.PreferredName:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Date of birth:</div>
                  <div class="bold">{{(secondFormGroup.value.birthdate)?(secondFormGroup.value.birthdate | date:"yyyy/MM/dd"):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 1:</div>
                  <div class="bold">{{(secondFormGroup.value.address1)?secondFormGroup.value.address1:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 2:</div>
                  <div class="bold">{{(secondFormGroup.value.saddress)?secondFormGroup.value.saddress:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>City:</div>
                  <div class="bold">{{(secondFormGroup.value.city)?secondFormGroup.value.city:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Province:</div>
                  <div class="bold">{{(secondFormGroup.value.province)?
                    getProvinceById(secondFormGroup.value.province):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Postal Code:</div>
                  <div class="bold">{{(secondFormGroup.value.postalCode)?secondFormGroup.value.postalCode:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Home Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.phoneNumber)?secondFormGroup.value.phoneNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Cell Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.cellNumber)?secondFormGroup.value.cellNumber:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Work Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.workNumber)?secondFormGroup.value.workNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Email:</div>
                  <div class="bold">{{(secondFormGroup.value.email)?secondFormGroup.value.email:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Gender:</div>
                  <div class="bold">{{(secondFormGroup.value.gender)?
                    getGenderById(secondFormGroup.value.gender):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Identity:</div>
                  <div class="bold">{{(secondFormGroup.value.identity)?
                    getIdentityById(secondFormGroup.value.identity):'-' }}</div>
                </div>
              </div>
            </div>
            <br />
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Additional Information</strong>
                <a class="edit-text-color" (click)="editPage(stepper,2)">Edit</a>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    Do you have any concerns for your safety or your children’s safety?
                  </div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div class="bold">{{(sixFormGroup.value.childSafetyDescription)?sixFormGroup.value.childSafetyDescription:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    What is your preferred method of contact?
                  </div>
                </div>
                <div class="col-md-6 stepRow leftRight">
                  <div class="bold">{{(sixFormGroup.value.contactMethod)?sixFormGroup.value.contactMethod:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    Are you currently on income assistance?
                  </div>
                </div>
                <div class="col-md-6 stepRow leftRight">
                  <div class="bold">{{(sixFormGroup.value.incomeAssistance)?sixFormGroup.value.incomeAssistance:'-' }}</div>
                </div>
              </div>
            </div>
            <br/>
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Enrolment Responsibilities</strong>
                <a class="edit-text-color" (click)="editPage(stepper,3)">Edit</a>
              </div>
              <div class="row agreement">
                <div class="text-dark">
                  <ul>
                    <li>
                      I will notify the recalculation service of any changes in my contact information or any legal action which may impact
                      the recalculation of my child support.
                    </li>
                    <li>
                      I understand the recalculation service may access Court Services Online to obtain copies of the child support order
                      or written agreement.
                    </li>
                    <li>
                      Unless a court orders otherwise, I may withdraw from the recalculation service providing that the other party also
                      agrees to withdraw.
                    </li>
                    <li>
                      I understand that if I do not provide my income tax information, as requested by the recalculation service, the service
                      may adjust my annual income amount using rate increases set out under the Family Law Act Regulation.
                    </li>
                    <li>
                      I understand the use of the information I provide to the recalculation service is for the purposes of child support
                      recalculation. If I am involved with the Family Maintenance Enforcement Program, my information may be shared
                      with this program.
                    </li>
                    <li>
                      I understand that by submitting this electronic application future program communication will
                      occur through my recalculation service account unless I request otherwise. The information I have
                      given on this form is true and correct to the best of my knowledge and belief.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <mat-checkbox color="primary"
            #checkbox (change)='forSubmitBtn($event)' value=''
            [class.mat-checkbox-disabled]="false"
            >All of the information above is correct to the best of my knowledge.</mat-checkbox>
            <app-alert type="warning" icon="info">
              <ng-container #alertContent class="alert-content">
                <strong>Once the form has been submitted you may not make changes. Review and ensure all
                  details are correct before submission.
                </strong>
              </ng-container>
            </app-alert>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button
              [ngClass]="{
                'submitDisabled': isDisabledSubmit === true,
                'submitStep': isDisabledSubmit === false
              }"
              mat-stroked-button color="basic" matStepperNext [disabled]="isDisabledSubmit"
              (click)="saveLater(); isDisabledSubmit = true">
              Submit account setup request
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </section>
</div>
