.mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }
  .heading{
    font-size: 15px;
    font-weight: 800;
    color: black;
    padding-bottom: 10px;

  }
  .firstQuestionRadio{
      padding-bottom: 10px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;

  }
  .example-container{
    font-size: 12px;
  }
  .stepRow{
    display: flex;
    flex-direction: row;
  }
  .width100{
    .mat-form-field{
      width: 100%;
    }
  }
  .document-drag-container{
    height: 200px;
    border-style: dotted;
    border-radius: 5px;
  }
  .submit-layer {
    min-height: 100px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    padding-bottom: 10px;
  }
  .agreement{
    .leftRight{
      padding-left: 42px;
    }
  }
  .spaceAround{
    justify-content: space-between;
    padding: 4px;
  }
  .bold{
    font-weight: 700;
    font-size: 14px;
  }
  .leftRight{
    padding-left: 25px;
    padding-right: 25px;
  }
  .displayDetails{
    padding-left: 40px;
    padding-right: 75px;
    div{
      width: 50%;
      word-break: break-all;
    }
  }
  div.row-height {
    height: 90px;
  }
  button.nextStep{
    width: 100px;
    float: right;
    border: 1px solid white;
    background-color: #003366;
    color: #ffffff;
  }
  button.submitDisabled{
    width: 250px;
    float: right;
  }
  button.submitStep{
    float: right;
    border: 1px solid white;
    background-color: green;
    color: #ffffff;
  }
  .submit-text-color {
    font-size: 20px;;
    color: #003366;
  }
  .nextButton{
    margin-top: 20px;
  }
  .dropzone {
    width: 450px;
    height: 200px;
    padding: 2rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    .drop-file {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
    .browse-file {
    width: 183px;
    height: 44px;
    padding: 8px 16px;
    }
    }
    .radio-question {
      width: 50%;
    }
.toolTipIcon{
  color: #009CDE;
  transform: scale(0.8);
}
.add-child{
  margin-left: 85%;
  border: 1px solid #003366;
}
.edit-text-color{
  color: #009CDE;

}
