.mat-divider {
        border-top-width: 3px;
    border-top-color: #facc00;
  }
  
  .alert-content {
  border: 1px solid gray;;
  border-left: 4px solid darkblue;
  height:380px;
  margin-left: 40px;
  }
  .start-button {
    float: right;
    margin-bottom: 40px;
  }
  .footer {
    height: 140px;
    width:1100px;
    padding-top: 24px;
    margin-left: 510px;
    border: 3px solid #facc00;
    margin-top: 50px;
    margin-bottom: 50px;
  }