<div class="header d-print-none">
  <div class="container">
    <mat-toolbar color="primary">
      <span>
        <a href="https://www2.gov.bc.ca/gov/content/home"
           class="government-of-bc-logo"
           target="_blank"
           rel="noopener">
          <img src="/assets/gov_bc_logo.jpg"
               alt="Government of BC Logo" />
        </a>
      </span>

      <span class="flex-fill">Family Maintenance Services</span>

      <span class="badge badge-pill badge-light"
            *ngIf="environment != 'prod'">
        {{ environment }} v{{ version }}
      </span>

    <span class="logout">
      <mat-icon >logout</mat-icon>
    </span>

  
    </mat-toolbar>
  </div>
</div>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
