<div class="header d-print-none">
  <div class="container">
    <mat-toolbar  color="primary">
      <span>
        <a href="https://www2.gov.bc.ca/gov/content/home"
          class="government-of-bc-logo"
          target="_blank"
          rel="noopener">
          <img src="/assets/gov_bc_logo.jpg"
              alt="Government of BC Logo"/>
        </a>
      </span>

      <span class="p-3 flex-fill">Recalculate Your Child Support</span>
      
      <span class="logout">
        <mat-icon>logout</mat-icon>
      </span>
      <span class="language">BCeID Login</span>
      
    </mat-toolbar>
  </div>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
