<div>
  <div class="summary-header">
    <div class="container">
      <ul class="summary-header-links">
        <li>
          <a
            [attr.href]=""
            class="primary-navigation"
            rel="noopener"
          >
            Home
          </a>
        </li>
        <span class="divider d-none d-lg-block">|</span>
        <li>
          <a
            [routerLink]="['/questionnaire']"
            class="primary-navigation"
            rel="noopener">
            Questionnaire
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="background_image">
    <div class="container">
      <section>
        <div class="card mb-2 border-0 summary-content">
          <div>
            <div class="card-title h1_class">Child Support Recalculation Service</div>
            <div class="card-body description_text" >
              The Child Support Recalculation Service helps families with child support orders and written agreements
                maintain a fair standard of support for their children by reviewing the amount of child support each year.
                The recalculation service adjusts the amount of child support if income has gone up or down so that
                parents do not have to return to court to have their child support amounts reviewed.
              <a
              [attr.href]="cscLink"
              target="_blank"
              class="primary-navigation"
              rel="noopener"
            >
            Learn more >
            </a>
          </div>
          </div>
        </div>
      </section>

      <section>
        <div class="round3">

          <div class="card-group">
            <div class="card p-4 d-none d-lg-block mb-2 border-0" style="min-width: 15%;">
              <img class="card-img-top icon-size3" src="/assets/Questionnaire-icon.svg" alt="Questionnaire icon">
            </div>

            <div class="card mb-2 border-0" style="min-width: 80%;">
              <div class="card-body">
                <p class="card-title h2_class">Is the recalculation service right for you?
                  <mat-divider style="margin-top:15px; min-width: 100%;"></mat-divider>
                </p>

                <div class="card-group">
                  <div class="card border-0" style="min-width: 65%;">
                    <div class="card-body">
                      <p class="card-text" style="color:black" class="text-inside-grid">Complete the questionnaire to obtain important information
                        about eligibility for the service to help you decide whether to apply.
                      </p>
                    </div>
                  </div>
                  <div class="card border-0" style="min-width: 25%;">
                    <div class="card-body">
                      <button mat-flat-button type="button" class="large" color="accent" routerLink="/questionnaire">
                        <strong>Start questionnaire</strong>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-4">
        <div class="p-3 round3">
          <div class="card-group" >
            <div class="card mb-2 border-0" style="min-width: 44%;">
              <div class="card-body">
                <p class="card-title h2_class">New users
                  <mat-divider style="margin-top:15px; max-width: 100%;"></mat-divider>
                </p>
                <div class="pl-2">
                  <p class="color_black ">You will need a <strong>Basic BCeID account </strong>
                    <span>
                    <mat-icon
                    matTooltip="BCeID is a user ID and password. You can use it to log in to securely access multiple other online government services."
                     #tooltip3="matTooltip"
                      class="toolTipIcon">info</mat-icon>
                    </span> to access the recalculation service and apply online.
                  </p>
                </div>
                <div class="py-3">
                  <p class="color_black">If you already have a Basic BCeID account log in
                    <a
                      class ='account-link'
                      style="cursor:pointer; text-decoration: underline;"
                      (click)="login();"
                    >here.</a>
                  </p>
                </div>
                <div class="pr-2">
                  <p class="color_black"><strong>Were you provided a file number and password and
                    asked to create an account?</strong>
                  <mat-expansion-panel  style="box-shadow: none;" class="pt-2 pb-4" #expPanel hideToggle="true">
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title style="text-decoration: underline;">
                          {{expPanel.expanded? '- See less information
                          ' : '+ See more information'}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      You will also need a Basic BCeID account if your court
    order states you must register in the Child Support
    Recalculation Program, or if the other party has started
    the enrolment process of your order or written agreement.
    You will have been sent a file number and password that
    you will need to submit your information to the
    recalculation service once you have obtained your BCeID.
                    </mat-expansion-panel>
                  </p>
                </div>
                <div>
                  <a
                    [attr.href]="bceIdRegisterLink"
                    target="_blank"
                    rel="noopener"
                    class="useful-links bceIdLink"
                  >
                    <button mat-flat-button
                            type="button"
                            class="large_border"
                            >
                            Register for a Basic BCeID
                    </button>
                  </a>
                </div>
              </div>


            </div>
            <div class="card mb-2 border-0" style="min-width: 4%;"></div>

              <div class="card mb-2 border-0" style="min-width: 44%;">
              <div class="card-body">
                <p class="card-title h2_class" style="font-weight: normal">Returning users
                  <mat-divider style="margin-top:15px; max-width: 100%;"></mat-divider>
                </p>
                <div class="pr-2">
                  <p class="color_black">If you have previously logged in, continue to log into
                    your account with your Basic BCeID (user ID and
                    password.)
                  </p>
                </div>
                <div class="pr-2">
                  <a
                    target="_blank"
                    rel="noopener"
                    class="useful-links bceIdLink"
                  >
                    <button mat-flat-button
                            type="button"
                            class="large"
                            color="primary"
                            (click)="login()"
                            >
                            BCeID login
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <section style="padding-bottom: 20px">
      <div class="p-2 round4">

        <div class="card-group">
          <div class="card p-4 d-none d-lg-block mb-2 border-0" style="max-width: 15%;">
            <img class="card-img-top support-image" src="/assets/Support_icon.svg" alt="Support icon">
          </div>

          <div class="card mb-2 border-0" style="min-width: 80%;">
            <div class="card-body">
              <p class="card-title font_size_24_bolder">Have questions or looking for more support?</p>
              <p class="card-text font_size_18_lighter">Contact the recalculation service toll free at
                <a
                    [attr.href]="bceIdLink"
                    target="_blank"
                    rel="noopener"
                    class="useful-links bceIdLink"
                  >
                  1-866-660-2684
                </a>
                or learn more about the program
                <a
                    [attr.href]="cscLink"
                    target="_blank"
                    rel="noopener"
                    class="useful-links cscLink"
                  >
                    here.
                  </a>
              </p>


            </div>
          </div>
        </div>


      </div>
    </section>
    </div>
  </div>
</div>
