@import "palette";
@import "bootstrap/bootstrap-imports";

.h1_class {
  font-size: 32px;
  padding-bottom: 1%;
  font-weight: bolder;
  color: #003366;
}
.summary-header-links {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  padding: 0;

  li {
    line-height: 2em;
  }

  a {
    font-size: 1.125em;
    color: #fff !important;
    font-weight: 400;
  }
}

.divider {
  color: white;
}
.toggle-button {
  width: 200px;
}
@media (min-width: 768px) {
  .divider {
    display: inline-block;
  }

  .summary-header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      line-height: unset;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      font-size: 1.125em;
      color: #fff !important;
      font-weight: 400;
    }
  }
}

div.summary-header {
  background-color: #336699;
  padding: 5px 0px 5px 0px;
}

div.container {

  button a {
    color: theme-palette(blue);
  }

  a {
    color: theme-palette(blue, link);
    white-space: nowrap;
  }

  .main-body-navigation:hover {
    text-decoration: none;
  }
}

.mat-flat-button {
  min-width: 250px;
  margin: 1em;

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 300px;
  }

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
    width: 100%;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: #fff;
  }

  &.large_border {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
    border: 1px solid #003366; 
    color: #003366;
    width: 100%;
  }

}

.mat-stroked-button {
  min-width: 200px;
  background-color: #fff;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
  }
}


.round1 {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.round2 {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 5px;
}

.round3 {
  border: 1px solid grey;
  border-radius: 12px;
  background-color: white;
  width: 95%;
}

.round4 {
  width: 95%;
  border: 2px solid orange;
  border-radius: 0px;
  background-color: white;
}

.text-inside-grid {
  width: 98%;
  font-size: 16px;
  padding-bottom: 20px;
}



.phone {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.summary-content {
  padding-top: 3%;
  height: 13em;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  .lead {
    font-size: 1.125em;
  }
}

@media (max-width: 767px) {
  .landing-card {
    display: block;
    width: 100%;
  }

  .landing-card:first-child {
    padding-top: 0;
  }
}

.landing-cards .landing-cards-content {
  margin-bottom: 2em;
}

.landing-cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.landing-card {
  padding-left: 10px;
  padding-right: 10px;
  // flex: 1 1 auto;
  border: none;
  flex: 1;
}

.landing-card__image {
  margin-bottom: 20px;
  // max-height: 113px;
}

@media (min-width: 768px) {
  .landing-card {
    padding-top: 2em;
  }

  .landing-card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .landing-card {
    border-right: solid 1px theme-palette(grey, light);
    min-height: 280px;
    padding-left: 50px;
    padding-right: 50px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  .landing-cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) {
  .landing-card {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .landing-card + .landing-card {
    border-left: none;
    border-top: solid 1px white;
  }

  .landing-card:last-child {
    border-bottom: solid 1px white;
  }

  .landing-card.info {
    padding-top: 0;
    border: none !important;
  }
}

.icon-size1 {
  max-width: 162px;
}

.icon-size2 {
  max-width: 162px;
}

.icon-size3 {
  max-width: 162px;
}

.icon-size4 {
  max-width: 40px;
}

.icon-size5 {
  max-width: 90px;
}

.icon-size6 {
  max-width: 25px;
}
.support-image {
  max-width: 75px;
}

.bullet-list ul {
  padding-left: 1.2em;
  list-style-position: outside;

  li {
    font-size: 1.125em;
    line-height: 1.4em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 3em;
  padding-top: 2em;

  &.flex-last {
    padding-bottom: 4em;
  }

  &-2-col {
    width: 50%;
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-right: 50px;
    }

    .flex-last-info-content {
      margin-bottom: -1em;
    }
  }

  &-3-col {
    width: 33.3333%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
  }

  &-2-col + &-2-col {
    padding-left: 50px;
    border-left: solid 1px theme-palette(grey, light);
  }

  &-3-col + &-3-col {
    border-left: solid 1px theme-palette(grey, light);
  }
}

@media (max-width: 991px) {
  .flex {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    &.flex-first {
      padding-bottom: 1em;
      padding-top: 0;
    }

    &.flex-last {
      padding-bottom: 1.5em;
    }

    &-2-col {
      width: 100%;
      padding-left: 10px !important;
      padding-right: 10px !important;

      &:first-child {
        padding-right: 10px;
      }

      .flex-last-info-content {
        margin-bottom: 0;
      }
    }

    &-3-col {
      width: 100%;
      border-right: none;
    }

    &-2-col + &-2-col {
      border-left: none;
      margin-top: 0;
      padding-top: 30px;
      border-top: none;
      padding-left: 0;
      padding-right: 0;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    &-3-col + &-3-col {
      border-left: none;
      margin-top: 50px;
      padding-top: 50px;
      border-top: solid 1px theme-palette(grey, light);

      &:last-child {
        padding-bottom: 50px;
        border-bottom: solid 1px theme-palette(grey, light);
      }
    }
  }

  .bullet-list ul {
    li {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
}

.flex-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    max-width: 100%;
  }
  p {
    margin: 20px 0;
  }

  &__link {
    width: 100%;
    align-self: flex-end;
    margin-top: 20px;
  }
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.border-bottom{
  border-bottom-width: 2px;
  border-bottom-color: orange;
}

.text-left-inside-grid {
  padding-top: 20px;
  margin-bottom: 0px;
  position: absolute;
  text-align: left;
  left: 5px;
}
.text-left-contact{
  margin-bottom: 0px;
  padding-bottom: 16px;
  position: absolute;
  text-align: left;
  left: 5px;
}

.text-left-top {
  position: absolute;
  text-align: left;
}




.mat-divider {
  display: block;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: orange;
}

mat-grid-tile.bottom_line {
  margin-bottom: 20px;
  border-bottom: solid 2px #FCBA19;
}

.mat-grid-tile-content{
  display: block;
}

.mat-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.information {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.custom-tooltip {
  font-size:18px;
  font-weight: normal;
  background: black;
  border: solid 2px orange;
}

.description_text {
  color: black; 
  font-size: 18px;
  width: 80%;
  margin-bottom: 0%;
}
.mat-typography p {
  margin: 0px;
}
.background_image {
  background-image: url('/assets/landing-page-background-image.png');
  background-repeat: no-repeat; 
  background-size: 110%;
}

.padding_right_200{
  padding-right: 200px;
}

.border_bottom {
  margin-right: 10px;
  border-bottom: solid 1px orange;
}

.font_size_24_bolder {
  font-size: 24px; 
  font-weight:bolder;
}

.font_size_24_normal {
  font-size: 24px; 
  font-weight:normal;
}

.color_black {
  color: black;
}

.font_size_18_lighter {
  color:black; 
  font-size: 18px; 
  font-weight:lighter;
}

.toolTipIcon{
  color: #009CDE;
  transform: scale(0.8);
  vertical-align: text-bottom
}
.mat-tooltip {
  font-size: 15px;
  color: black !important;
  background-color: white;
  border: 4px solid orange;
}
mat-expansion-panel{
  padding: 5px;
}
.start-button{
  margin-right: 20px;
}