@import "palette";
@import "bootstrap/bootstrap-imports";

.h1_class {
  font-size: 2.6em;
  line-height: 1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  color: theme-palette(blue);
  padding-bottom: 20px;
}
/*
h3 {
  font-size: 1.575em;
  line-height: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: theme-palette(blue);
  text-align: left;
}

h4 {
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: theme-palette(blue);
}

.lead {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.1em;
}
*/
/*
div.landing-summary {
  background: url("/assets/landing-page-background.jpg") no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.summary-header-links {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  padding: 0;

  li {
    line-height: 2em;
  }

  a {
    font-size: 1.125em;
    color: #fff !important;
    font-weight: 400;
  }
}

.divider {
  color: #FCBA19;
  display: none;
}




@media (min-width: 768px) {
  .divider {
    display: inline-block;
  }

  .summary-header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      line-height: unset;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      font-size: 1.125em;
      color: #fff !important;
      font-weight: 400;
    }
  }
}

div.summary-header {
  background-color: #38598A;
  width: 100%;
  min-height: 20px;
  padding: 7px 0;
  opacity: 0.8;
}

section.summary-section {
  min-height: 10px;
  margin-bottom: 1em;
  margin-right: 5em;
}

section {
  margin-bottom: 1em;
  margin-right: 5em;
}

div.container {
  opacity: unset;

  button a {
    color: theme-palette(blue);
  }

  a {
    color: theme-palette(blue, link);
    white-space: nowrap;
  }

  .main-body-navigation:hover {
    text-decoration: none;
  }
}

.mat-flat-button {
  min-width: 250px;
  margin: 1em;

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 300px;
  }

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
    width: 100%;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: #fff;
  }

  &.large_border {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
    border: 1px solid #003366; 
    color: #003366;
    width: 100%;
  }

}

.mat-stroked-button {
  min-width: 200px;
  background-color: #fff;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
  }
}

img {
  width: 100%;
}

.landing-card-text {
  color: theme-palette(blue);
  font-size: 1.125em;
  line-height: 1.4em;
  font-weight: 500;
}

.center {
  text-align: center;
}

.round1 {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.round2 {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 5px;
}

.round3 {
  border: 2px solid darkgray;
  border-radius: 12px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(51, 102, 153, 16);
}

.round4 {
  border: 2px solid orange;
  border-radius: 0px;
  padding: 40px;
  background-color: white;
}


.box-border {
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
  border-left: 5px solid blue;
  padding: 5px;
  background-color: lightgray;
}

.box-border1 {
  border: 2px solid orange;
  padding: 25px;
}



.phone {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.site-header {
  background-color: theme-palette(blue);
  width: 100%;
  height: 64px;
  border-bottom: 2px solid theme-palette(yellow);
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
}

.summary-content {
  padding: 30px 0 10px 0;
  color: #fff;
}

@media (min-width: 992px) {
  section.summary-section {
    margin-bottom: 3em;
  }

  .summary-content {
    padding-top: 54px;
    padding-bottom: 32px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  .lead {
    font-size: 1.125em;
  }
}

@media (max-width: 767px) {
  .landing-card {
    display: block;
    width: 100%;
  }

  .landing-card:first-child {
    padding-top: 0;
  }
}

.landing-cards .landing-cards-content {
  margin-bottom: 2em;
}

.landing-cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.landing-card {
  padding-left: 10px;
  padding-right: 10px;
  // flex: 1 1 auto;
  border: none;
  flex: 1;
}

.landing-card__image {
  margin-bottom: 20px;
  // max-height: 113px;
}

@media (min-width: 768px) {
  .landing-card {
    padding-top: 2em;
  }

  .landing-card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .landing-card {
    border-right: solid 1px theme-palette(grey, light);
    min-height: 280px;
    padding-left: 50px;
    padding-right: 50px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  .landing-cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) {
  .landing-card {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .landing-card + .landing-card {
    border-left: none;
    border-top: solid 1px white;
  }

  .landing-card:last-child {
    border-bottom: solid 1px white;
  }

  .landing-card.info {
    padding-top: 0;
    border: none !important;
  }
}

.icon-size1 {
  max-width: 162px;
}

.icon-size2 {
  max-width: 162px;
}

.icon-size3 {
  max-width: 162px;
}

.icon-size4 {
  max-width: 40px;
}

.icon-size5 {
  max-width: 90px;
}

.icon-size6 {
  max-width: 25px;
}

.bullet-list ul {
  padding-left: 1.2em;
  list-style-position: outside;

  li {
    font-size: 1.125em;
    line-height: 1.4em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }
}

mat-expansion-panel {
  box-shadow: none !important;
  padding-bottom: 1em;
  //border-bottom: 1px solid theme-palette(grey, light);
}

mat-expansion-panel-header {
  padding-left: 0;
  padding-right: 0;//0.5em;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 3em;
  padding-top: 2em;

  &.flex-last {
    padding-bottom: 4em;
  }

  &-2-col {
    width: 50%;
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-right: 50px;
    }

    .flex-last-info-content {
      margin-bottom: -1em;
    }
  }

  &-3-col {
    width: 33.3333%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
  }

  &-2-col + &-2-col {
    padding-left: 50px;
    border-left: solid 1px theme-palette(grey, light);
  }

  &-3-col + &-3-col {
    border-left: solid 1px theme-palette(grey, light);
  }
}

@media (max-width: 991px) {
  .flex {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    &.flex-first {
      padding-bottom: 1em;
      padding-top: 0;
    }

    &.flex-last {
      padding-bottom: 1.5em;
    }

    &-2-col {
      width: 100%;
      padding-left: 10px !important;
      padding-right: 10px !important;

      &:first-child {
        padding-right: 10px;
      }

      .flex-last-info-content {
        margin-bottom: 0;
      }
    }

    &-3-col {
      width: 100%;
      border-right: none;
    }

    &-2-col + &-2-col {
      border-left: none;
      margin-top: 0;
      padding-top: 30px;
      border-top: none;
      padding-left: 0;
      padding-right: 0;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    &-3-col + &-3-col {
      border-left: none;
      margin-top: 50px;
      padding-top: 50px;
      border-top: solid 1px theme-palette(grey, light);

      &:last-child {
        padding-bottom: 50px;
        border-bottom: solid 1px theme-palette(grey, light);
      }
    }
  }

  .bullet-list ul {
    li {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
}

.flex-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    max-width: 100%;
  }
  p {
    margin: 20px 0;
  }

  &__link {
    width: 100%;
    align-self: flex-end;
    margin-top: 20px;
  }
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.border-bottom{
  border-bottom-width: 2px;
  border-bottom-color: orange;
}

.text-left-inside-grid {
  position: absolute;
  text-align: left;
  left: 5px;
}

/*
.text-left-inside-grid-line {
  position: absolute;
  text-align: left;
  left: 5px;
  padding-right: 2.5rem;
  border-bottom: solid 2px orange;  
}
*/

.text-left-top {
  position: absolute;
  text-align: left;
}


.text-right-inside-grid {
  position: absolute;
  text-align: right;
  left: 5px;
}

.text-top-inside-grid {
  position: absolute;
  align-items: center;
  left: 5px;
}


.mat-divider {
  display: block;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: orange;
}

mat-grid-tile.bottom_line {
  padding-right: 2.5rem;
  border-bottom: solid 1px orange;
  padding-top: -0.2rem;
}

mat-grid-tile.bottom_line2 {
  padding-right: 5rem;
  border-bottom: solid 1px orange;
}

mat-grid-tile.mat-figure {
  justify-content:center ;
  align-items:center;
  vertical-align:sub;
}

.mat-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 0.4em;
  user-select: none;
}

.information {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.custom-tooltip {
  font-size:18px;
  font-weight: normal;
  background: black;
  border: solid 2px orange;
}

.description_text {
  color: black; 
  padding-right: 70px;
  padding-bottom: 20px;
  font-size: 1.2em;
}

.background_image {
  background-image: url('/assets/landing-page-background.png');
  background-repeat: no-repeat; 
  background-size: 100%;
}

.padding_right_200{
  padding-right: 200px;
}

.border_bottom {
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;
  border-bottom: solid 1px orange;
}

.font_size_24_bolder {
  font-size: 24px; 
  font-weight:bolder;
}

.font_size_24_normal {
  font-size: 24px; 
  font-weight:normal;
}

.color_black {
  color: black;
}

.font_size_18_lighter {
  color:black; 
  font-size: 18px; 
  font-weight:lighter;
}

.mytooltip {
  display: inline;
  position: relative;
  z-index: 999
}

.mytooltip .tooltip-item {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 0 10px
}

.mytooltip .tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: #2b2b2b;
  opacity: 0;
  cursor: default;
  pointer-events: none
}

.mytooltip .tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #2a3035 transparent transparent;
  border-width: 10px;
  margin-left: -10px
}

.mytooltip .tooltip-content img {
  position: relative;
  height: 140px;
  display: block;
  float: left;
  margin-right: 1em
}

.mytooltip .tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.mytooltip:hover .tooltip-item::after {
  pointer-events: auto
}

.mytooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
  opacity: 1;
  font-size: 18px
}

.mytooltip .tooltip-text {
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff
}
