<div class="container">
  <section class="header-section">
    <div>
      <h2 class="mt-4 mb-0">Child Support Recalculation Application</h2>
      <p class="text-dark">
        To create your recalculation service account, please complete the following application:
      </p>
      <hr style="opacity: 1; color: #fcba19" />
    </div>
  </section>
  <section class="stepper-section">
    <div class="flex-6-col">
      <mat-stepper orientation="vertical" [linear]="true"  #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Getting Started</ng-template>
            <div class="text-dark">
              <div class="pb-1">
                Fields marked <span class="text-danger">*</span> are required.
              </div>
              <section class="text-dark">
                <label class="w-100 py-1">
                  <strong>What best describes your situation?<span class="text-danger">*</span>
                  </strong>
                </label>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-group formControlName="firstControl">
                      <mat-radio-button class="radio-question" value="I am the recipient; I currently receive child support">
                        <span class="wrap-mat-radio-label">
                          I am the recipient; I currently receive child support
                        </span>
                      </mat-radio-button>
                      <mat-radio-button class="radio-question" style="margin-left: 0px" value="I am the payor; I currently pay child support">
                        <span class="wrap-mat-radio-label">
                          I am the payor; I currently pay child support
                        </span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </section>
              <section>
                <label class="w-100 py-2">
                  <strong>
                    Do you have an order or filed written agreement?<span class="text-danger">*</span></strong>
                </label>
                <div class="row py-2">
                  <div class="col-12">
                    <mat-radio-group formControlName="secondControl">
                      <mat-radio-button class="radio-question" value="Order">
                        <span class="wrap-mat-radio-label"> Order </span>
                      </mat-radio-button>
                      <mat-radio-button class="radio-question" style="margin-left: 0px" value="Written agreement">
                        <span class="wrap-mat-radio-label">
                          Written agreement
                        </span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </section>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button routerLink="/welcomeuser" mat-stroked-button color="basic" matStepperPrevious>
                < Back
              </button>
              <button class="nextStep" [disabled]="!firstFormGroup.valid"  mat-raised-button color="primary" matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="true">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Your Personal Information</ng-template>
            <div class="pb-1">
              Fields marked <span class="text-danger">*</span> are required.
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal first name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="firstName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal middle name</mat-label>
                  <input matInput formControlName="givenNames" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal last name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="lastName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Preferred name</mat-label>
                  <input matInput formControlName="PreferredName" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Date of birth<span class="text-danger">*</span></mat-label>
                  <input matInput [matDatepicker]="picker2" [max]="today" formControlName="birthdate" readonly
                  (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error>{{ errorMessage + errorDateMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 1<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="address1" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 2</mat-label>
                  <input matInput formControlName="saddress" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>City<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="city" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Province<span class="text-danger">*</span></mat-label>
                  <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces; index as pi" [value]="province.id">
                      {{ province.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Postal code<span class="text-danger">*</span></mat-label>
                  <input matInput placeholder="XXX-XXX" mask="S0S 0S0" oninput="this.value = this.value.toUpperCase()"
                    formControlName="postalCode" [showMaskTyped]="false" [dropSpecialCharacters]="false" [specialCharacters]="[' ']" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Home phone number</mat-label>
                  <input matInput formControlName="phoneNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Cell phone number</mat-label>
                  <input matInput formControlName="cellNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Work phone number</mat-label>
                  <input matInput formControlName="workNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email<span class="text-danger">*</span></mat-label>
                  <input type="email" matInput placeholder="email@domain.ca" formControlName="email" />
                  <mat-error>{{ errorMessage + errorMailMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders; index as pi" [value]="gender.id">
                      {{ gender.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row text-dark pt-3">
              <strong>What best describes your identity?</strong>
              <div><strong style="color: #003366;">Note:</strong> This question is voluntary. The Child Support Recalculation Program wants to ensure that families can access its services.</div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Identity</mat-label>
                  <mat-select formControlName="identity" (selectionChange)="onIdentityChange($event)">
                    <mat-option *ngFor="let identity of identities; index as pi" [value]="identity.id">
                      {{ identity.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!--Other Identity Dscription -->
              <div class="col-md-6" [ngClass]="isVisibleOtherIdentity ? 'show' : 'hide'">
                <mat-form-field class="w-100">
                  <mat-label>Other Identity Description</mat-label>
                  <input matInput formControlName="otherIdentity"/>
                  <mat-error>{{ errorMaxOtherIdentityMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <!---->
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
                < Back
              </button>
              <button class="nextStep" [disabled]="!secondFormGroup.valid" mat-raised-button color="primary"  matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [editable]="true">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Information about the Other Party (parent, caregiver, guardian)
            </ng-template>
            <div class="heading">
              Enter as much information as you can about the other party involved in this application.
            </div>
            <div class="pb-1">
              Fields marked <span class="text-danger">*</span> are required.
           </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal first name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="firstName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal middle name</mat-label>
                  <input matInput formControlName="givenNames" />
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Legal last name<span class="text-danger">*</span></mat-label>
                  <input matInput formControlName="lastName" />
                  <mat-error>{{ errorMessage | json }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Preferred name</mat-label>
                  <input matInput formControlName="pname" />
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" [max]="today" formControlName="birthdate" readonly
                  (click)="picker.open()"  [(ngModel)]="birthOfDateOtherParty"/>
                  <mat-icon matDatepickerToggleIcon (click)="clearDateOtherParty($event)" class="cross-mat-icon">clear</mat-icon>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>{{ errorDateMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 1</mat-label>
                  <input matInput formControlName="saddress1" />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street address 2</mat-label>
                  <input matInput formControlName="saddress2" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Province</mat-label>
                  <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces; index as pi" [value]="province.id">
                      {{ province.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Postal Code</mat-label>
                  <input matInput placeholder="XXX-XXX" mask="S0S 0S0" oninput="this.value = this.value.toUpperCase()"
                    formControlName="postalCode" [showMaskTyped]="false" [dropSpecialCharacters]="false" [specialCharacters]="[' ']" />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Home phone number</mat-label>
                  <input matInput placeholder="(XXX) XXX-XXXX" formControlName="homePhoneNumber" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Cell phone number</mat-label>
                  <input matInput placeholder="(XXX) XXX-XXXX" formControlName="cellPhoneNumber" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Work phone number</mat-label>
                  <input matInput placeholder="(XXX) XXX-XXXX" formControlName="workPhoneNumber" mask="(000) 000-0000" [dropSpecialCharacters]="false" [specialCharacters]="['(', ')', '-', ' ']" [showMaskTyped]="false" />
                </mat-form-field>
              </div>
            </div>
            <!--<div class="row row-height">-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="email@domain.ca" formControlName="email" />
                  <mat-error>{{ errorMailMessage | json }}</mat-error>
                </mat-form-field>
              </div>
          </div>
          <mat-divider></mat-divider>
          <div class="nextButton">
            <button mat-stroked-button color="basic" matStepperPrevious>
              < Back
            </button>
            <button class="nextStep" [disabled]="!thirdFormGroup.valid" mat-raised-button color="primary"  matStepperNext>
              Next >
            </button>
          </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup1" [editable]="true">
          <form [formGroup]="fourthFormGroup1">
            <ng-template matStepLabel>Information about the Child(ren)</ng-template>
            <div class="heading">
              Enter the complete information of each child named in your order or written agreement.
            </div>
            <div class="pb-1">
              Fields marked <span class="text-danger">*</span> are required.
            </div>
            <ng-container *ngFor="
                let userFormGroup of this.fourthFormGroup1.get('users')[
                  'controls'
                ];
                let i = index
              " [formGroup]="userFormGroup">
              <div class="pb-1 bold">
                Child{{i+1}}
              </div>
              <!--<div class="row row-height">-->
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Legal first name<span class="text-danger">*</span></mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-error>{{ errorMessage | json }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Legal middle name</mat-label>
                    <input matInput formControlName="middleName" />
                    <mat-error>{{ errorMessage | json }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--<div class="row row-height">-->
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Legal last name<span class="text-danger">*</span></mat-label>
                    <input matInput formControlName="lastName" />
                    <mat-error>{{ errorMessage | json }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Date of birth<span class="text-danger">*</span></mat-label>
                    <input matInput (dateChange)="onDateChange($event,i)" [matDatepicker]="picker4" [max]="today" formControlName="birthdate"
                    readonly (click)="picker4.open()" />
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4 startView="multi-year"></mat-datepicker>
                    <mat-error>{{ errorMessage + errorDateMessage | json }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row text-dark mt-4" [ngStyle]="{'visibility':isHiddens[i] ? 'visible' : 'hidden'}">
                <div class="col-md-6">
                  <p>If a child is over age of majority, are they still a dependent?
                    <mat-icon *ngIf='tooltips[0]' matTooltip={{tooltips[0]}}
                    #tooltip3="matTooltip" matTooltipPosition ='above' class="toolTipIcon">{{'info'}}</mat-icon>
                  </p>
                </div>
                <div class="col-md-6">
                  <mat-radio-group formControlName="childDependency" aria-label="Select an option">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                    <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </ng-container>
            <div class="row button-row pb-3">
              <div class="col-md-6"></div>
              <div class="col-md-6" style="display: flex; justify-content: flex-end;">
                    <button mat-button style="color:red" [ngStyle]="{'visibility':!isChildDelete ? 'visible' : 'hidden'}"
                    (click)="deletechild1()">
                    Delete
                    <mat-icon style="color:red" color="danger">delete</mat-icon>
                  </button>
                <button  mat-stroked-button [disabled]="!fourthFormGroup1.valid"
                (click)="callAntherchild()">+ Add another child</button>
              </div>
          </div>
          </form>
          <mat-divider></mat-divider>
          <div class="nextButton">
            <button mat-stroked-button color="basic" matStepperPrevious>
             < Back
            </button>
            <button class="nextStep" [disabled]="!fourthFormGroup1.valid" mat-raised-button color="primary"  matStepperNext>
              Next >
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]="fifthFormGroup" [editable]="true">
          <form [formGroup]="fifthFormGroup" >
            <ng-template matStepLabel>Details about the Court Order or Written Agreement</ng-template>
            <div class="heading">
              It would be helpful if you had a copy of your court order or written agreement when answering the following questions.
            </div>
            <div class="row text-dark">
              <div class="col-md-6">
                <span>Court location</span>
                <mat-form-field class="w-100">
                  <mat-select formControlName="courtLocation">
                    <mat-option *ngFor="let courtLocation of courtLocations; index as pi" [value]="courtLocation.id">
                      {{courtLocation.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <span>Date of order or agreement<mat-icon *ngIf='tooltips[1]' matTooltip={{tooltips[1]}}
                  #tooltip3="matTooltip" matTooltipPosition ='above' class="toolTipIcon">info</mat-icon></span>
                <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="picker1" [max]="today" formControlName="orderDate" readonly
                  (click)="picker1.open()" [(ngModel)]="dateOfOrder"/>
                  <mat-icon matDatepickerToggleIcon (click)="clearDate($event)" class="cross-mat-icon">clear</mat-icon>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="multi-year"></mat-datepicker>
                  <mat-error>{{ errorDateMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row text-dark">
              <p>Payor's income amount from the order or written agreement<mat-icon *ngIf='tooltips[2]' matTooltip={{tooltips[2]}}
                #tooltip3="matTooltip" matTooltipPosition ='above' class="toolTipIcon">info</mat-icon></p>
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-icon matSuffix>attach_money</mat-icon>
                  <input matInput #input formControlName="payorIncome" />
                  <mat-error>{{ errorIncomeMessage | json }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row text-dark">
              <div class="col-md-6">
                <p>Recalculation ordered by the court?</p>
              </div>
              <div class="col-md-6">
                <mat-radio-group aria-label="Select an option" formControlName="recalculationOrdered">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row text-dark">
              <div class="col-md-6">
                <p>Does the order include special expenses?<mat-icon *ngIf='tooltips[3]' matTooltip={{tooltips[3]}}
                  #tooltip3="matTooltip" matTooltipPosition ='above' class="toolTipIcon">info</mat-icon></p>
              </div>
              <div class="col-md-6">
                <mat-radio-group aria-label="Select an option" formControlName="isSpecifiedIncome">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                  <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button class="nextStep" [disabled]="!fifthFormGroup.valid" mat-raised-button color="primary"  matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="sixFormGroup" [editable]="true">
          <form [formGroup]="sixFormGroup">
            <ng-template matStepLabel>Additional Information</ng-template>
            <div class="row text-dark mt-4">
              <div class="col-md-6">
                <p>Do you have any concerns for your safety or your children’s safety?
                </p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="childSafety" aria-label="Select an option">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                  <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="example-container width100">
              <mat-form-field appearance="fill">
                <mat-label>If yes, please provide any details including any protection orders in place involving you or the other party</mat-label>
                <textarea formControlName="childSafetyDescription" matInput #input rows="4"></textarea>
                <mat-error>{{ errorMaxMessage | json }}</mat-error>
              </mat-form-field>
            </div>
            <div class="row text-dark mt-2">
              <div class="col-md-6">
                <p>What is your preferred method of contact?
                </p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="contactMethod" aria-label="Select an option">
                  <mat-radio-button value="Email">Email</mat-radio-button>
                  <mat-radio-button value="Paper Mail">Paper Mail</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row text-dark mt-2">
              <div class="col-md-6">
                <p>Are you enrolled in the BC Family Maintenance Agency (BCFMA)?</p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="enrollFMEP" aria-label="Select an option">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>My BCFMA file # is:</mat-label>
                <input formControlName="FMEPinput" matInput #input />
              </mat-form-field>
            </div>
            <div class="row text-dark mt-2">
              <div class="col-md-6">
                <p>Are you currently on income assistance?
                  <mat-icon *ngIf='tooltips[4]' matTooltip={{tooltips[4]}}
                  #tooltip3="matTooltip" matTooltipPosition ='above' class="toolTipIcon">info</mat-icon>
                </p>
              </div>
              <div class="col-md-6">
                <mat-radio-group formControlName="incomeAssistance" aria-label="Select an option">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                  <mat-radio-button value="I don't know">I don't know</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row text-dark pt-2">
              <span>How did you hear about the Child Support Recalculation Service (CSRS)?</span>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-select formControlName="referral">
                    <mat-option *ngFor="let referral of referrals; index as pi" [value]="referral.id">
                      {{referral.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button class="nextStep"  [disabled]="!sixFormGroup.valid" mat-raised-button color="primary"  matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="eFormGroup" [editable]="true">
          <form [formGroup]="eFormGroup">
            <ng-template matStepLabel>Conditions of Enrolment, Service Portal Terms of Use, Personal Information</ng-template>
            <div class="heading">
              <p>
                Please review and make sure you understand the following conditions of enrolment and Service Portal Terms of Use they link to.
              </p>
              <p>
                If you proceed, you will be deemed to have agreed to them.  <u>If you do not agree, you are not entitled to use this electronic service.</u>
              </p>
              <p>
                I understand, acknowledge and agree that:
              </p>
            </div>
            <div class="text-dark">
              <ul>
                <li>
                  I must notify the Child Support Recalculation Service (“CSRS”) of any changes in my contact information or any legal action which may impact the recalculation of my child support.
                </li>
                <li>
                  by submitting this electronic application, future CSRS communication will occur through my electronic recalculation service account unless I request otherwise.
                </li>
                <li>
                  I hereby authorize the CSRS to access my family court file to obtain information about and copies of any orders, written agreements, financial statements, court applications and appearances where the CSRS considers it necessary to provide their service to me. This authorization is made to comply with the requirements of Provincial Court Family Rule 174(1)(e).
                </li>
                <li>
                  unless a court orders otherwise, I may withdraw from the recalculation service providing the other party also agrees to withdraw.
                </li>
                <li>
                  if I do not provide my income tax information, as requested by CSRS, CSRS may adjust my annual income amount using rate increases set out under the Family Law Act Regulation.
                </li>
                <li>
                  the information I provide to CSRS through the recalculation service account portal is collected, used and disclosed in accordance with the CSRS <a href="javascript:void(0);" (click)="showInfoCollectionDisclosure()">“INFORMATION COLLECTION, USE AND DISCLOSURE”</a> provisions contained in the <a href="javascript:void(0);" (click)="showTermsOfUse()">“SERVICE PORTAL TERMS OF USE”</a> for the purposes of child support recalculation. This includes, where applicable, the sharing of information with the British Columbia Family Maintenance Agency, the Provincial Court of British Columbia and/or the other parent.
                </li>
                <li>
                  I have read and understand the <a href="javascript:void(0);" (click)="showTermsOfUse()">“SERVICE PORTAL TERMS OF USE”</a>, including its <a href="javascript:void(0);" (click)="showInfoCollectionDisclosure()">“INFORMATION COLLECTION, USE AND DISCLOSURE”</a> provisions.
                </li>
                <li>
                  the information I have given on this form is true and correct to the best of my knowledge and belief.
                </li>
              </ul>
              <p>
                <strong>Collection Notice:</strong><i>Your personal information is collected by Ministry of Attorney General's Maintenance Enforcement and Locate Services (MELS) pursuant to section 26(a) and (c) of the Freedom of Information and Protection of Privacy Act and the Family Law Act. MELS uses this information for the purposes of establishing, recalculating or enforcing child support. More information regarding how your personal information is collected, used and disclosed can be found here.  Should you have any questions about the collection, use or disclosure of your personal information, please contact Senior Director, Maintenance, Enforcement and Locate Services,: PO Box 2074 Station Main, Vancouver BC, V6B 3S3 or Phone Number: (604) 660-2528.</i>
              </p>
              <mat-checkbox color="primary"  formControlName="secondCtrl" class="example-margin">I accept and acknowledge the terms and conditions listed
                above.</mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button class="nextStep"   [disabled]="!eFormGroup.valid" mat-raised-button color="primary"  matStepperNext>
                Next >
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="nineFormGroup">
          <form [formGroup]="nineFormGroup" class="text-dark">
            <ng-template matStepLabel>Review and Submit Your Application
            </ng-template>
            <div>
              Review all application details below to ensure information is correct. You can go back and edit any of
              the information before submission.
            </div>
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Getting Started</strong>
                <a class="edit-text-color" (click)="editPage(stepper,0)">Edit</a>
              </div>
              <div class="stepRow spaceAround leftRight">
                <div>What best describes your situation?</div>
                <div class="bold">{{firstFormGroup.value.firstControl}}
                </div>
              </div>
              <div class="stepRow spaceAround leftRight">
                <div>Do you have an order or filed written agreement?</div>
                <div class="bold">{{firstFormGroup.value.secondControl}}</div>
              </div>
            </div>
            <br />
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Your Personal Information</strong>
                <a class="edit-text-color" (click)="editPage(stepper,1)" >Edit</a>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal first name:</div>
                  <div class="bold">{{secondFormGroup.value.firstName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal middle name(s):</div>
                  <div class="bold">{{(secondFormGroup.value.givenNames)?secondFormGroup.value.givenNames:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal last name:</div>
                  <div class="bold">{{secondFormGroup.value.lastName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Preferred name:</div>
                  <div class="bold">{{(secondFormGroup.value.PreferredName)?secondFormGroup.value.PreferredName:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Date of birth:</div>
                  <div class="bold">{{(secondFormGroup.value.birthdate)?(secondFormGroup.value.birthdate | date:"yyyy/MM/dd"):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 1:</div>
                  <div class="bold">{{(secondFormGroup.value.address1)?secondFormGroup.value.address1:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 2:</div>
                  <div class="bold">{{(secondFormGroup.value.saddress)?secondFormGroup.value.saddress:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>City:</div>
                  <div class="bold">{{(secondFormGroup.value.city)?secondFormGroup.value.city:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Province:</div>
                  <div class="bold">{{(secondFormGroup.value.province)?
                    getProvinceById(secondFormGroup.value.province):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Postal Code:</div>
                  <div class="bold">{{(secondFormGroup.value.postalCode)?secondFormGroup.value.postalCode:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Home Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.phoneNumber)?secondFormGroup.value.phoneNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Cell Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.cellNumber)?secondFormGroup.value.cellNumber:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Work Phone number:</div>
                  <div class="bold">{{(secondFormGroup.value.workNumber)?secondFormGroup.value.workNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Email:</div>
                  <div class="bold">{{(secondFormGroup.value.email)?secondFormGroup.value.email:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Gender:</div>
                  <div class="bold">{{(secondFormGroup.value.gender)?
                    getGenderById(secondFormGroup.value.gender):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Identity:</div>
                  <div class="bold">{{(secondFormGroup.value.identity)?
                    getIdentityById(secondFormGroup.value.identity):'-' }}</div>
                </div>
              </div>
            </div>
            <br />
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Information about the Other Party (parent, caregiver, guardian)</strong>
                <a class="edit-text-color"(click)="editPage(stepper,2)">Edit</a>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal first name:</div>
                  <div class="bold">{{thirdFormGroup.value.firstName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal middle name(s):</div>
                  <div class="bold">{{(thirdFormGroup.value.givenNames)?thirdFormGroup.value.givenNames:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal last name:</div>
                  <div class="bold">{{thirdFormGroup.value.lastName }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Preferred name:</div>
                  <div class="bold">{{(thirdFormGroup.value.pname)?thirdFormGroup.value.pname:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Date of birth:</div>
                  <div class="bold">{{(thirdFormGroup.value.birthdate)?(thirdFormGroup.value.birthdate | date:"yyyy/MM/dd"):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 1:</div>
                  <div class="bold">{{(thirdFormGroup.value.saddress1)?thirdFormGroup.value.saddress1:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Street address 2:</div>
                  <div class="bold">{{(thirdFormGroup.value.saddress2)?thirdFormGroup.value.saddress2:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>City:</div>
                  <div class="bold">{{(thirdFormGroup.value.city)?thirdFormGroup.value.city:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Province:</div>
                  <div class="bold">{{(thirdFormGroup.value.province)?
                    getProvinceById(thirdFormGroup.value.province):'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Postal Code:</div>
                  <div class="bold">{{(thirdFormGroup.value.postalCode)?thirdFormGroup.value.postalCode:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Home Phone number:</div>
                  <div class="bold">{{(thirdFormGroup.value.homePhoneNumber)?thirdFormGroup.value.homePhoneNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Cell Phone number:</div>
                  <div class="bold">{{(thirdFormGroup.value.cellPhoneNumber)?thirdFormGroup.value.cellPhoneNumber:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Work Phone number:</div>
                  <div class="bold">{{(thirdFormGroup.value.workPhoneNumber)?thirdFormGroup.value.workPhoneNumber:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Email:</div>
                  <div class="bold">{{(thirdFormGroup.value.email)?thirdFormGroup.value.email:'-' }}</div>
                </div>
              </div>
            </div>
            <br />
           <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Information about the Child(ren)</strong>
                <a class="edit-text-color" (click)="editPage(stepper,3)">Edit</a>
              </div>
              <div *ngFor="
              let userFormGroup of this.fourthFormGroup1.get('users')[
                'controls'
              ];
              let i = index
            " >
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Child{{i+1}}</strong>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal first name:</div>
                  <div class="bold">{{(userFormGroup.value.firstName)?userFormGroup.value.firstName:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal middle name(s):</div>
                  <div class="bold">{{(userFormGroup.value.middleName)?userFormGroup.value.middleName:'-' }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Legal last name:</div>
                  <div class="bold">{{(userFormGroup.value.lastName)?userFormGroup.value.lastName:'-' }}</div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Date of birth:</div>
                  <div class="bold">{{(userFormGroup.value.birthdate)?(userFormGroup.value.birthdate | date:"yyyy/MM/dd"):'-' }}</div>
                </div>
              </div>
              <div class="row" [ngStyle]="{'visibility':isHiddens[i] ? 'visible' : 'hidden'}">
                <div class="col-md-12 stepRow spaceAround displayDetails1" [ngSwitch]="userFormGroup.value.childDependency">
                  <div *ngSwitchCase="'Yes'">Child is over age of majority, but still a dependent.</div>
                  <div *ngSwitchCase="'No'">Child is over age of majority, but is not a dependent.</div>
                  <div *ngSwitchCase="'I don\'t know'">Child is over age of majority, don't know if they are still a dependent.</div>
                  <div *ngSwitchDefault>Child is over age of majority.</div>
                </div>

              </div>
             </div>
            </div>
            <br />
            <div class="submit-layer ">
              <div class="stepRow spaceAround leftRight ">
                <strong class="submit-text-color">Details about the Court Order or Written Agreement</strong>
                <a class="edit-text-color"(click)="editPage(stepper,4)">Edit</a>
              </div>
              <div class="row">
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Court location:</div>
                    <div class="bold">{{(fifthFormGroup.value.courtLocation)?
                      getCourtLocationById(fifthFormGroup.value.courtLocation):'-' }}
                    </div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div>Date of order:</div>
                  <div class="bold">{{(fifthFormGroup.value.orderDate)?(fifthFormGroup.value.orderDate | date:"yyyy/MM/dd"):'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-8 stepRow leftRight">
                  <div>
                    Payor's income amount from the order or written agreement
                  </div>
                </div>
                <div class="col-md-2 stepRow">
                  <div class="bold for441">{{(fifthFormGroup.value.payorIncome)?'$'+fifthFormGroup.value.payorIncome:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                  <div class="col-md-8 stepRow leftRight">
                    <div>
                      Recalculation ordered by the court?
                    </div>
                  </div>
                  <div class="col-md-2 stepRow">
                    <div class="bold for441">{{(fifthFormGroup.value.recalculationOrdered)?fifthFormGroup.value.recalculationOrdered:'-' }}</div>
                  </div>
                </div>
                <div class="row agreement">
                  <div class="col-md-8 stepRow leftRight">
                    <div>
                      Does the order include special expenses?
                    </div>
                  </div>
                  <div class="col-md-2 stepRow">
                    <div class="bold for441">{{(fifthFormGroup.value.isSpecifiedIncome)?fifthFormGroup.value.isSpecifiedIncome:'-' }}</div>
                  </div>
                </div>
            </div>
            <br />
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Additional Information</strong>
                <a class="edit-text-color" (click)="editPage(stepper,5)">Edit</a>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    Do you have any concerns for your safety or your children’s safety?
                  </div>
                </div>
                <div class="col-md-6 stepRow spaceAround displayDetails">
                  <div class="bold">{{(sixFormGroup.value.childSafety)?sixFormGroup.value.childSafety:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-12 stepRow spaceAround displayDetails1">
                  <div class="bold">{{(sixFormGroup.value.childSafetyDescription)?sixFormGroup.value.childSafetyDescription:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    What is your preferred method of contact?
                  </div>
                </div>
                <div class="col-md-6 stepRow">
                  <div class="bold for441">{{(sixFormGroup.value.contactMethod)?sixFormGroup.value.contactMethod:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    Are you enrolled in the Family Maintenance and Enforcement Program (FMEP)?
                  </div>
                </div>
                <div class="col-md-6 stepRow">
                  <div class="bold for441">{{(sixFormGroup.value.enrollFMEP)?sixFormGroup.value.enrollFMEP:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    My FMEP file number is:
                  </div>
                </div>
                <div class="col-md-6 stepRow">
                  <div class="bold for441">{{(sixFormGroup.value.FMEPinput)?sixFormGroup.value.FMEPinput:'-' }}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    Are you currently on income assistance?
                  </div>
                </div>
                <div class="col-md-6 stepRow">
                  <div class="bold for441">{{(sixFormGroup.value.incomeAssistance)?sixFormGroup.value.incomeAssistance:'-'}}</div>
                </div>
              </div>
              <div class="row agreement">
                <div class="col-md-6 stepRow leftRight">
                  <div>
                    How did you hear about the Child Support Recalculation Service (CSRS)?
                  </div>
                </div>
                <div class="col-md-6 stepRow">
                  <div class="bold for441">{{(sixFormGroup.value.referral)?
                    getReferralById(sixFormGroup.value.referral):'-' }}</div>
                </div>
              </div>
            </div>
            <br/>
            <div class="submit-layer">
              <div class="stepRow spaceAround leftRight">
                <strong class="submit-text-color">Conditions of Enrolment</strong>
                <a class="edit-text-color"(click)="editPage(stepper,6)">Edit</a>
              </div>
              <div class="text-dark">
                <ul>
                  <li>
                    I will notify the recalculation service of any changes in my contact information
                    or any legal action which may impact the recalculation of my child support.
                  </li>
                  <li>
                    I understand the recalculation service may access Court Services Online
                    to obtain copies of the child support order or written agreement.
                  </li>
                  <li>
                    Unless a court orders otherwise, I may withdraw from the recalculation
                    service providing that the other party also agrees to withdraw.
                  </li>
                  <li>
                    I understand that if I do not provide my income tax information, as
                    requested by the recalculation service, the service may adjust my annual
                    income amount using rate increases set out under the Family Law Act Regulation.
                  </li>
                  <li>
                    I understand the use of the information I provide to the recalculation
                    service is for the purposes of child support recalculation. If I am involved
                    with the Family Maintenance Enforcement Program, my information may be shared
                    with this program.
                  </li>
                  <li>
                    I understand that by submitting this electronic application future program
                    communication will occur through my recalculation service account unless I
                    request otherwise. The information I have given on this form is true and
                    correct to the best of my knowledge and belief.
                  </li>
                </ul>
                <mat-checkbox  [checked]="eFormGroup.value.secondCtrl" [disabled]="eFormGroup.value.secondCtrl"
                form class="example-margin">I accept and acknowledge the terms and conditions listed above.</mat-checkbox>
              </div>
            </div>
            <mat-checkbox color="primary"
            #checkbox (change)='forSubmitBtn($event)' value=''
            [class.mat-checkbox-disabled]="false"
            >All of the information above is correct to the best of my knowledge.</mat-checkbox>
            <app-alert type="warning" icon="info">
              <ng-container #alertContent class="alert-content">
                <strong>After submitting this form, please complete the application process by uploading a copy of
                  your court order or filed written agreement.
                </strong>
              </ng-container>
            </app-alert>
            <mat-divider></mat-divider>
            <div class="nextButton">
              <button mat-stroked-button color="basic" matStepperPrevious>
               < Back
              </button>
              <button #submitBtn
              [ngClass]="{
                'nextStep': isDisabledSubmit === true,
                'submitStep': isDisabledSubmit === false
              }"
              mat-stroked-button color="basic" matStepperNext [disabled]="isDisabledSubmit"
              (click)="saveLater(); isDisabledSubmit = true">
                Submit Application
              </button>
            </div>
          </form>
        </mat-step>

      </mat-stepper>
    </div>
  </section>
</div>

