<div class="container">
  <section>
    <div>
      <h1 class="mb-5">Welcome, Sergey</h1>
      <hr style="opacity: 1; color: #fcba19" />
    </div>
  </section>
  <section>
    <div class="flex-6-col">
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Inbox (1)</h1>
          </ng-template>
          <p>Inbox</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Upload Document</h1>
          </ng-template>
          <form [formGroup]="uploadFormGroup" class="round1" style="padding-bottom: 20px">
            <div class="mb-3">
              <div class="container">
                <div class="row">
                  <div class="col-1">
                    <h2 style="font-weight: bold;">File #:</h2>
                  </div>
                  <div class="col">
                    <input type="input" #fileNumber value="4652" class="font_bold"/>
                  </div>
                  <div class="col-8">
                    <h2 class="font_normal">
                      You may only upload one document at a time
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="document-drag-container">
              <div class="dropzone">
                <input class="drop-file" type="file"
                       #fileDropRef id="fileDropRef"
                       accept=".pdf,.gif,.jpg,.jpeg,.png"
                       (change)="onFileSelected($event)"
                       />
                <h2 class="font_bold">Drag and drop file here or
                  <a
                    class ='browse-file'
                    style="cursor:pointer"
                    (click)="fileDropRef.click()"
                  >
                  Choose Documents.
                  </a>
                </h2>
                <p class="font_normal">(one document per upload - 10 MB max)</p>
              </div>
            </div>


            <div class="mt-3 mb-3" *ngIf="selectedFile">
              <div class="container">
                <h2 class="font_normal">
                  Selected document type:
                </h2>
                <div class="row round2">
                  <div class="col-md-5 mt-3 mb-3" style="display: inline-flex; vertical-align: middle;">
                    <span class="file_name_icon">
                      <mat-icon class="mat-icon-black">text_snippet</mat-icon>
                    </span>
                    <span class="file_name">{{selectedFile.name}}</span>
                  </div>

                  <div class="col-md-2 mt-3 mb-3">
                    <label class="font_bold" for="documentType">Document Type:
                      <span class="asterick">*</span>
                    </label>
                  </div>
                  <div class="col mt-3 mb-3">
                    <select class="form-control" style="width: fit-content;"
                    (change)="onDocTypeChanged($event)">
                      <option *ngFor="let documentType of documentTypes" [ngValue]="documentType.id">{{documentType.docType}}</option>
                    </select>
                  </div>
                  <div class="col mt-3 mb-3">
                    <span class="file_name_icon" style="text-align: right;">
                      <mat-icon class="mat-icon-red"  (click)="onDeleteFile()">delete_forever</mat-icon>
                    </span>
                  </div>
                  </div>
                </div>
              </div>

            <div class="mt-3 mb-3">
              <div class="container">
                <div class="row">
                  <div class="col" style="text-align: right;" >
                    <button mat-flat-button
                        type="button"
                        class="large"
                        color="primary"
                        style="width: 250px;"
                        (click)="onUpload()"
                    >
                    Upload Document
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </form>

          <div class="mt-3 mb-3 p-2 round4">
            <mat-grid-list cols="6" rowHeight="55px" gutterSize="5px">
              <mat-grid-tile colspan="1" rowspan="2" aria-rowindex="0">
                <img class="icon-size5" src="/assets/Support_icon.svg" />
              </mat-grid-tile>
              <mat-grid-tile colspan="5" rowspan="1" aria-rowindex="0">
                <p class="text-left-inside-grid font_size_24_bolder">
                  Have questions or looking for more support?
                </p>
              </mat-grid-tile>
              <mat-grid-tile colspan="5" rowspan="1" aria-rowindex="1" class="text-left-inside-grid">
                <p class="font_size_18_lighter">
                  Contact the recalculation service toll free at
                  <a
                      [attr.href]="bceIdLink"
                      target="_blank"
                      rel="noopener"
                      class="useful-links bceIdLink"
                    >
                    1-866-660-2684
                  </a>
                  or learn more about the program
                  <a
                      [attr.href]="bceIdLink"
                      target="_blank"
                      rel="noopener"
                      class="useful-links bceIdLink"
                    >
                      in here.
                    </a>
                </p>
              </mat-grid-tile>
            </mat-grid-list>
          </div>


        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Contact Us</h1>
          </ng-template>
          <p>Contact Us</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
