<div class="container">
  <section>
    <div>
      <h1 >Welcome, {{portalUser}}</h1>
      <hr style="opacity: 1; color: #fcba19" />
    </div>
  </section>
  <section>
    <div class="flex-6-col">
      <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab">
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Inbox ({{unreadCnt}})</h1>
          </ng-template>
          <form [formGroup]="inboxFormGroup" style="padding-bottom: 20px">
            <div class="round1" *ngIf="!toggleRow">
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-2 col-md-1">
                      <label>File #:</label>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field>
                        <mat-label>Select File</mat-label>
                        <mat-select formControlName="inboxFile" (selectionChange)="onInboxFileNumberChange ($event)">
                          <mat-option  value="all">
                            All
                          </mat-option>
                          <mat-option *ngFor="let file of files" [value]="file.fileId">
                            {{file.fileNumber}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 d-none d-lg-block"></div>
                    <div class="col-md-3" style="float: right;">
                        <h2 class="font_normal">
                          <img src="/assets/Message_icon.svg" /> <a target="blank" (click)="selectTab(2)">New Message</a>
                        </h2>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0 mb-4" style="opacity: 0.5">

              <table mat-table [dataSource]="dataSource" >

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> Date </th>
                  <td mat-cell *matCellDef="let element">{{element.date | date:'yyyy-MM-dd'}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> File&nbsp;#&nbsp;</th>
                  <td mat-cell *matCellDef="let element"> {{element.fileNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> Subject </th>
                  <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Attachment&nbsp;</th>
                  <td mat-cell *matCellDef="let element"><div style="display: inline;" *ngIf="element.attachment"><img src="/assets/PDF-black_icon.svg" /><div style="display: inline;" *ngFor="let doc of element.documents">{{doc.documentType}}</div></div></td>
                </ng-container>

                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td class="font_normal" mat-cell *matCellDef="let element"> <img src="/assets/View_icon.svg" /><a target="blank" (click)="ontable(element)">View</a> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-bold': !row.isRead }"></tr>

              </table>
              <mat-paginator #paginator [pageSizeOptions]="[5]"
                             showFirstLastButtons></mat-paginator>
            </div>

            <div class="step2" *ngIf="toggleRow">
              <div class="mb-3 mt-5">
                <div class="container">
                  <p class="back-to-messages" (click)="ontable('')"><mat-icon style="vertical-align:middle;">arrow_back</mat-icon>  Back to all messages</p>
                  <div class="row">
                    <div class="col-md-2">
                      <h2 style="font-weight: bold;">File #: <span style="font-size: 14px;color: black;">{{selectedInboxMessage.fileNumber}}</span>  </h2>
                    </div>
                    <div class="col-md-5">
                      <h2 style="font-weight: bold;">Date : <span style="font-size: 14px;color: black;">{{selectedInboxMessage.date | date:'yyyy-MM-dd'}}</span> </h2>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0 mb-4" style="opacity: 1">

              <div class="section">
                <h2>Message</h2>
                <div class="message-data">
                  <h2><strong>{{selectedInboxMessage.subject}}</strong></h2>
                  <div style="white-space: pre-line;">
                  {{selectedInboxMessage.content}}
                  </div>
                </div>
                <table class="table" *ngIf="selectedInboxMessage.attachment">
                  <tr>
                    <th>Attachment(s)</th>
                    <th>File size</th>
                    <th>Actions</th>
                  </tr>

                  <tr class="text-dark" *ngFor="let doc of selectedInboxMessage.documents">
                    <td><strong>{{doc.name}}</strong></td>
                    <td>{{doc.size}}</td>
                    <td><img src="/assets/Download_icon.svg" /><a href="javascript:void(0)" (click)="downloadAttachment(doc.serverRelativeUrl, doc.documentType, doc.name)">Download</a></td>
                  </tr>

                </table>
              </div>

            </div>
          </form>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Upload Document</h1>
          </ng-template>
          <form [formGroup]="uploadFormGroup" style="padding-bottom: 20px">
            <div class="round1">
            <div class="mb-3">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2 col-md-1">
                    <label>File #:</label>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Select File</mat-label>
                      <mat-select formControlName="uploadFile" (selectionChange)="onUploadFileNumberChange ($event)">
                        <mat-option *ngFor="let file of files" [value]="file.fileId">
                          {{file.fileNumber}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="uploadFile.hasError('required')">
                        File is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-8">
                    <h2 class="text-dark">
                      You may only upload one document at a time
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="document-drag-container">
              <div class="dropzone">
                <input class="drop-file" type="file"
                       #fileDropRef id="fileDropRef"
                       accept=".pdf,.gif,.jpg,.jpeg,.png"
                       (change)="onFileSelected($event)"
                       />
                <h2 class="font_bold">Drag and drop file here or
                  <a
                    class ='browse-file'
                    style="cursor:pointer"
                    (click)="fileDropRef.click()"
                  >
                  Choose Documents.
                  </a>
                </h2>
                <p class="text-dark">(one document per upload - 10 MB max)</p>
              </div>
            </div>


            <div class="mt-3 mb-3" *ngIf="selectedFile">
              <div class="container">
                <h2 class="font_normal">
                  Selected document type:
                </h2>
                <div class="row round2">
                  <div class="col-md-5 mt-3 mb-3" style="display: inline-flex; vertical-align: middle;">
                    <span class="file_name_icon">
                      <mat-icon class="mat-icon-black">text_snippet</mat-icon>
                    </span>
                    <span class="file_name">{{selectedFile.name}}</span>
                  </div>

                  <div class="col-md-2 mt-3 mb-3">
                    <label class="font_bold" for="documentType">Document Type:
                      <span class="asterick">*</span>
                    </label>
                  </div>
                  <div class="col mt-3 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>Choose the type of document</mat-label>
                      <mat-select formControlName="documentType">
                        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                          {{documentType.docType}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="documentType.hasError('required')">
                        Document Type is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col mt-3 mb-3">
                    <span class="file_name_icon" style="text-align: right;">
                      <mat-icon class="mat-icon-red"  (click)="onDeleteFile()">delete_forever</mat-icon>
                    </span>
                  </div>
                  </div>
                </div>
              </div>

            <div class="mt-3 mb-3">
              <div class="container">
                <div class="row">
                  <div class="bc-gov-alertbanner bc-gov-alertbanner-error" role="alert" aria-labelledby="error" aria-describedby="error-desc" *ngIf="showValidationMessages">
                    <p *ngFor="let message of validationMessages">
                      <span class="app-cancel">
                        {{message}}
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col" style="text-align: right;">
                    <button mat-flat-button
                            type="button"
                            class="BC-Gov-PrimaryButton"
                            color="primary"
                            style="width: 250px; float:right;"
                            (click)="onUpload()"
                            [disabled]="uploadDisabled || uploadFormGroup.invalid">
                      Upload Document
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>


        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 class="mb-1 tabHeader">Contact Us</h1>
          </ng-template>
          <form [formGroup]="contactFormGroup" style="padding-bottom: 20px">
            <div class="round1">
            <div class="mb-3">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2 col-md-1">
                    <label style="font-weight: bold;">File #:</label>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Select File</mat-label>
                      <mat-select formControlName="contactFile" (selectionChange)="onContactFileNumberChange ($event)">
                        <mat-option *ngFor="let file of files" [value]="file.fileId">
                          {{file.fileNumber}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="contactFile.hasError('required')">
                        File is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <label style="font-weight: bold;">Date:</label>
                    {{contactDate}}
                  </div>
                  <!--<div class="col">

                  </div>-->
                </div>
                <div class="row">
                  <hr size="4" width="90%">
                </div>
                <div class="row">
                  <div class="col-1 w-100">
                    <label style="font-weight: bold;">Subject:</label>
                    <mat-form-field class="w-100">
                      <mat-label>Choose the subject you are inquiring about</mat-label>
                      <mat-select formControlName="contactSubject">
                        <mat-option *ngFor="let subject of contactSubjects" [value]="subject.name">
                          {{subject.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="contactSubject.hasError('required')">
                        Subject is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="md-textarea">
                    <label>Message:</label>
                    <mat-form-field class="w-100">
                      <textarea matInput
                                placeholder="Type your message here ... 500 character max"
                                [formControl]="contactMessage"
                                rows="4">
                        </textarea>
                      <mat-error *ngIf="contactMessage.hasError('required')">
                        Message is required.
                      </mat-error>
                      <mat-error *ngIf="contactMessage.hasError('maxlength')">
                        Max length is 500.
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div *ngIf="showValidationMessages">
                    <div *ngFor="let message of validationMessages" class="bc-gov-alertbanner bc-gov-alertbanner-error" role="alert" aria-labelledby="error" aria-describedby="error-desc" >
                      <p>
                        <span class="app-cancel">
                          {{message}}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <!--<div class="row">-->
                  <div class="card-group">
                    <div class="card border-0" style="width: 50%">
                      <div class="card-body text-left">
                        <!--<div class="col-1">-->
                          <button mat-flat-button
                                  type="button"
                                  class="BC-Gov-SecondaryButton"
                                  style="width: 250px;"
                                  (click)="clearContactForm()">
                            Cancel
                          </button>
                        <!--</div>-->
                      </div>
                    </div>
                  <!--<div class="col">

                  </div>-->
                  <!--<div class="col-8" style="text-align: right;">-->
                    <div class="card border-0" style="width: 50%">
                      <div class="card-body text-right">
                        <button mat-flat-button
                                type="button"
                                class="BC-Gov-PrimaryButton"
                                style="width: 250px;"
                                (click)="sendContact()"
                                [disabled]="contactFormGroup.invalid">
                          Send
                        </button>
                      </div>
                    </div>

                  <!--</div>-->
                  </div> <!--card-group-->
                <!--</div>--> <!--row -->
              </div>
              </div>
            </div>
           </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
  <section style="padding-bottom: 20px">
    <div class="p-2 round4">

      <div class="card-group">
        <div class="card p-4 d-none d-lg-block mb-2 border-0" style="max-width: 15%;">
          <img class="card-img-top support-image" src="/assets/Support_icon.svg" alt="Support icon">
        </div>

        <div class="card mb-2 border-0" style="min-width: 80%;">
          <div class="card-body">
            <p class="card-title font_size_24_bolder">Have questions or looking for more support?</p>
            <p class="card-text font_size_18_lighter">Contact the recalculation service toll free at
              <a
                  [attr.href]="bceIdLink"
                  target="_blank"
                  rel="noopener"
                  class="useful-links bceIdLink"
                >
                1-866-660-2684
              </a>
              or learn more about the program
              <a
                  [attr.href]="cscLink"
                  target="_blank"
                  rel="noopener"
                  class="useful-links cscLink"
                >
                  here.
                </a>
            </p>


          </div>
        </div>
      </div>


    </div>
  </section>
</div>
