
<div class="border_dialog">
  <div mat-dialog-content>
    <h1 style="text-align: center;">Child Support Recalculation Service &ndash; Service Portal</h1>
<p style="text-align: center;"><strong>Terms of Use </strong>(&ldquo;<strong>Terms</strong>&rdquo;) <strong>Version 1.0</strong></p>
<p style="text-align: left;">These Terms apply to the person (&ldquo;<strong>you</strong>&rdquo;, &ldquo;<strong>your</strong>&rdquo; or &ldquo;<strong>yours</strong>&rdquo;) that is accessing and/or using the portal(s) and/or website(s) (collectively, the &ldquo;<strong>Service Portal</strong>&rdquo;) provided by the Child Support Recalculation Service, in the office of Justice Services Branch of the Ministry of Attorney General, Government of the Province of British Columbia (&ldquo;<strong>CSRS</strong>&rdquo;, the &ldquo;<strong>Province</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;, &ldquo;<strong>us</strong>&rdquo; or &ldquo;<strong>our</strong>&rdquo;) in respect of the following online services (&ldquo;<strong>Services</strong>&rdquo;):</p>
<ul>
<li>Child Support Recalculation Application (&ldquo;<strong>Recalculation</strong>&rdquo;)</li>
</ul>
<p>YOU MUST AGREE TO THESE TERMS BEFORE CONTINUING TO USE THE SERVICE PORTAL.</p>
<p><strong><u>AGREEMENT</u></strong></p>
<p>By continuing to use the Service Portal you are acknowledging that you have read and understand these Terms and you are agreeing to comply with and be bound by them.&nbsp; If you do not agree to all of these Terms, you are not entitled to use the Service Portal.</p>
<p>We may change these Terms from time to time and it is your responsibility to check for changes. Your continued use of the Service Portal after any changes have been made to the Terms means that you have accepted those changes.</p>
<h2>INFORMATION COLLECTION, USE AND DISCLOSURE</h2>
<p>The CSRS only asks for information that is needed to provide the Services to you, except where specifically indicated that the provision of information is optional.&nbsp;</p>
<p>All information, including &ldquo;<strong>Personal Information</strong>&rdquo;, as that term is defined in the&nbsp;British Columbia <em>Freedom of Information and Protection of Privacy Act</em>&nbsp;(&ldquo;<strong>FOIPPA</strong>&rdquo;), that is collected as a result of your use of the Service Portal will be used and disclosed by us only in accordance with these Terms, the <a href="https://www2.gov.bc.ca/gov/content/home/privacy">B.C. Government Website Privacy Statement</a>, and as authorized or required by law, including FOIPPA.</p>
<p><strong>Any Personal Information that is collected through your use of the Service Portal is being collected under the authority of sections 26 (a), 26 (c) and 27(1)(a)(iii) of FOIPPA, and the British Columbia <em>Family Law Act</em>, for the purposes set out below.&nbsp; </strong></p>
<p>If you have any questions about our collection, use and disclosure of any mandatory or optional information, including Personal Information, that is provided through the Service Portal, please contact:&nbsp;</p>
<p><strong>Senior Director, Maintenance, Enforcement and Locate Services, PO Box 2074 Station Main, Vancouver, BC, V6B 5S3, Phone: 604-660-2528</strong></p>
<p>The CSRS collects, uses and discloses your information in the following ways and for the following purposes:</p>
<ol>
<li><strong><u>INFORMATION COLLECTION AND USE</u></strong>
<ul>
<li><strong>Recalculation Information </strong>- you will only be required to provide information through the Service Portal that is necessary to assist with a Recalculation.</li>
</ul>
</li>
</ol>
<p>The CSRS is authorized by law to collect the following types of information from you and the other parent (&ldquo;<strong>Other Parent</strong>&rdquo;) of any child(ren) (&ldquo;<strong>Child</strong>&rdquo;) of yours and the Other Parent (you and the Other Parent are each referred to in these Terms as a &ldquo;<strong>Party</strong>&rdquo; and collectively as the &ldquo;<strong>Parties</strong>&rdquo;):</p>
<ul>
<li>contact information for each Party, including name, address, phone number and email address (&ldquo;<strong>Contact Information</strong>&rdquo;)</li>
<li>the date of birth for each Party</li>
<li>the name(s) and date(s) of birth for any Child named in a child support order or written agreement (&ldquo;<strong>Child Information</strong>&rdquo;)</li>
<li>each Party&rsquo;s financial information, including Social Insurance Number, annual income and filed income tax documentation, such as personal income tax returns and Notice of Assessment/Reassessment, in accordance with the <em>Family Law Act Regulation</em></li>
<li>written agreements between the Parties</li>
</ul>
<p>Any of the above information that you provide through the Service Portal will be linked to your CSRS file (&ldquo;<strong>CSRS File</strong>&rdquo;) for the purposes of facilitating our consideration of a Recalculation.&nbsp;</p>
<p>We may also use Contact Information to inform a Party:</p>
<ul>
<li>to log into the Service Portal to receive messages or to receive or provide updates about a Recalculation</li>
<li>of any changes to these Terms
<ul>
<li><strong>Other CSRS File Information </strong>- the CSRS may collect information from a Party through the Service Portal about special circumstances relating to their CSRS File, including:</li>
</ul>
</li>
<li>the existence of any Family Maintenance Enforcement Program (&ldquo;<strong>FMEP</strong>&rdquo;) file with the British Columbia Family Maintenance Agency (&ldquo;<strong>BCFMA</strong>&rdquo;) to ensure BCFMA is aware of any changes to a payor&rsquo;s child support obligations, which may impact enforcement</li>
<li>whether there are any safety concerns for a Party or any Child (&ldquo;<strong>Safety</strong> <strong>Concerns</strong>&rdquo;) to manage risk for a protected party enrolled in the CSRS</li>
<li>circumstances regarding any Child over the age of majority to determine if the CSRS is able to make a recalculation based on the Child being over the age of majority
<ul>
<li><strong>Optional Information</strong> - you may also be asked to:</li>
</ul>
</li>
<li>provide certain additional user information, including your gender, ethnicity and how you heard about the CSRS</li>
<li>participate in a survey about your overall experience with the CSRS Recalculation process, which may include questions about Service Portal functionality</li>
</ul>
<p>If you decide to provide any of the above optional information, it will be used to help improve CSRS&rsquo; provision of the Services and users' experience with the Service Portal.</p>
<p>Your decision not to provide any of the above optional information will not impact your access to or use of the Services.</p>
<ol>
<li><strong><u>INFORMATION DISCLOSURE</u></strong></li>
</ol>
<ul>
<li><strong>To the Other Parent</strong> - the CSRS is legally authorized to, and may, disclose the following types of information to the Other Parent:</li>
<li>Child Information</li>
<li>annual or deemed income (&ldquo;<strong>Income</strong>&rdquo;)</li>
<li>the amount of child support payable by a Party (&ldquo;<strong>Support Payable</strong>&rdquo;)</li>
<li>information derived from orders of the court (&ldquo;<strong>Court Orders</strong>&rdquo;)</li>
<li>date(s) and location(s) of any court hearings</li>
<li>any CSRS &ldquo;<strong>Statement of Recalculation</strong>&rdquo;</li>
<li>notice that a Party has filed an application with the court to dispute a Statement of Recalculation</li>
<li>notice that a Party has submitted a request to withdraw from the Recalculation process</li>
<li><strong>To the BCFMA</strong> - the CSRS is legally authorized to, and may, disclose the following types of information to the BCFMA, if a Party is enrolled with the FMEP:</li>
<li>Child Information</li>
<li>Income</li>
<li>Support Payable</li>
<li>Contact Information</li>
<li>Statement of Recalculation</li>
<li>issuance of a &ldquo;Notice to Suspend Recalculation&rdquo; due to a dispute application being filed by a Party</li>
<li>changes affecting amounts due for a Child under the age of majority, including that:</li>
<li>a Child is now living with payor</li>
<li>the recipient has agreed to accept less support</li>
<li>a Child is deceased</li>
<li>changes affecting the FMEP case or CSRS File, including that:</li>
<li>the payor or recipient is deceased</li>
<li>the recipient has withdrawn from FMEP</li>
<li>the Parties have withdrawn a Recalculation request</li>
<li>either Party leaves British Columbia</li>
<li>the Parties have reconciled</li>
<li>that a Court Order becomes ineligible or has been declined for Recalculation</li>
<li>Safety Concerns being reported by a payor or recipient</li>
<li><strong>To the Court</strong> - the CSRS is legally authorized to, and may, disclose the following types of information to the Provincial Court of British Columbia:</li>
<li>Child Information</li>
<li>Income</li>
<li>Support Payable</li>
<li>Contact Information</li>
<li>Statement of Recalculation</li>
</ul>
<ol>
<li><strong><u>PROTECTION AND RETENTION OF PERSONAL INFORMATION</u></strong></li>
</ol>
<p>The CSRS is committed to protecting your privacy and the privacy of others. All Personal Information in the custody or under the control of the CSRS will be protected and retained in accordance with the Province&rsquo;s statutory obligations, including FOIPPA.</p>
<p><strong>By using the Service Portal, you acknowledge and are agreeing to the CSRS&rsquo; collection, use and disclosure of the information, and for the purposes, set out in these Terms.&nbsp; </strong></p>
<p><strong><u>ACCESSING THE SERVICE PORTAL </u></strong></p>
<p>To access the Service Portal, you must obtain a &ldquo;<strong>Basic BCeID</strong>&rdquo; using the procedure set out on the Province&rsquo;s BCeID website (&ldquo;<strong>BCeID Site</strong>&rdquo;). Once you have obtained this, you are able to set up a CSRS user account (&ldquo;<strong>User Account</strong>&rdquo;) and access the Service Portal.&nbsp;</p>
<p>Each time you access the Service Portal, you will be directed to the BCeID Site by way of an external link in order to authenticate your identity by entering your Basic BCeID and corresponding password on the BCeID site.&nbsp; Once you are authenticated, you will be returned to, and allowed to access the submission portions of, the Service Portal.&nbsp;</p>
<p><strong>The BCeID Site is independent of the Service Portal and may be subject to its own terms and conditions of use.</strong></p>
<p>Each time you enter your Basic BCeID and are authenticated to log into the Service Portal, you are representing that you are a Party entitled to submit information in respect of a Recalculation (&ldquo;<strong>Submitter</strong>&rdquo;).</p>
<p>You must not do anything in connection with your use of the Service Portal that would jeopardize your security, the security of any other person, or your or any other person&rsquo;s Personal Information.</p>
<p><strong><u>USER ACCOUNTS, PASSWORDS AND YOUR RESPONSIBILITIES</u></strong></p>
<p>You must adhere to any security policies, standards or procedures issued by the CSRS from time to time in relation to the Service Portal, your User Account and/or any Service Portal access password (&ldquo;<strong>Password</strong>&rdquo;).</p>
<p>You are solely responsible and liable for maintaining the security of your Password and any other login information, including your BCeID and BCeID password, and for any use or misuse of your User Account.&nbsp;</p>
<p>You must <u>not</u>:</p>
<ul>
<li>permit any unauthorized person to access your User Account</li>
<li>divulge, share or compromise your Password or your BCeID or BCeID password</li>
<li>use or attempt to use the Password, BCeID or other login information of any other person</li>
<li>test or examine the security related to your or any other person&rsquo;s User Account</li>
<li>take any action that might reasonably be construed as compromising, altering or rendering ineffective the Service Portal</li>
<li>decompile, disassemble or reverse engineer the Service Portal</li>
</ul>
<p>You must immediately notify the CSRS if you discover that your Password has been lost, stolen or compromised or if your User Account has been accessed without authorization.</p>
<p>All User Accounts are the property of the Province and may be cancelled by us at any time and for any reason without any notice or liability to you or any other person. We may, but are not under any obligation to, verify the actual identity or authority of any person using the Password or accessing any User Account.</p>
<p>As the Submitter, you must make every reasonable effort to enter into the Service Portal correct and up-to-date Contact Information for all Parties.&nbsp; By entering Contact Information in the Service Portal, you are agreeing and representing that the Contact Information entered by you is correct to the best of your knowledge.</p>
<p>If you enter incorrect Contact Information, then there is a risk that the Personal Information of the Parties may be inadvertently shared with the wrong recipient.</p>
<p>You must notify the CSRS immediately if you notice or become aware that incorrect Contact Information has been provided or if any of the Parties' Contact Information changes.</p>
<p><strong>The Province will have no liability to you or any third party as a result of your having entered invalid, incomplete or incorrect information, including Contact Information, in the Service Portal.&nbsp; </strong></p>
<p><strong><u>NO PROVISION OF LEGAL ADVICE</u></strong></p>
<p>Any guidance materials available through the Service Portal have been prepared for your convenience and provided solely for information purposes. Although the Service Portal may provide information regarding potential legal issues, this information does not constitute legal advice nor is it a substitute for any legal advice you should obtain from a qualified lawyer on the legal issues and options that affect you. Your use of the Service Portal does not create a solicitor-client relationship between you and the Province.</p>
<p><strong><u>CONTENT ACCURACY AND CURRENCY</u></strong></p>
<p>While we use reasonable efforts to ensure that all content available through the Service Portal including, without limitation, text, forms and any other materials or information, (collectively, &ldquo;<strong>Content</strong>&rdquo;) is accurate and current, such accuracy and currency cannot be guaranteed.&nbsp; Your reliance on any Content is at your own risk and the Province will not be held liable for any Content inaccuracies or omissions.&nbsp;</p>
<p>All Content is subject to change without notice and we reserve the right, but have no obligation, to correct any errors or omissions and to change or update the Content at any time and without prior notice.&nbsp;</p>
<p>If you copy, print or intend to use any Content, you must first check whether that Content has been updated, amended or removed.</p>
<p><strong><u>NO REPRESENTATIONS OR WARRANTIES</u></strong></p>
<p>WITHOUT LIMITING THE FOREGOING, THE SERVICE PORTAL AND THE CONTENT ARE PROVIDED TO YOU &ldquo;AS IS&rdquo; WITHOUT REPRESENTATION, WARRANTY OR CONDITION OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, DURABILITY, TITLE, NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS OR INTER-OPERABILITY OF PRODUCTS AND SERVICES.</p>
<p>WITHOUT LIMITING THE GENERAL NATURE OF THE ABOVE, YOUR USE OF THE SERVICE PORTAL MAY NOT BE TIMELY, UNINTERRUPTED OR ERROR FREE AND THE SERVICE PORTAL MAY NOT MEET YOUR EXPECTATIONS OR REQUIREMENTS.</p>
<p><strong><u>LIMITATION OF LIABILITY </u></strong></p>
<p>NEITHER THE PROVINCE, ITS EMPLOYEES, AGENTS AND OTHER REPRESENTATIVES, NOR ANY OTHER PARTY INVOLVED IN CREATING, PROVIDING OR DELIVERING THE SERVICE PORTAL OR ANY CONTENT, WILL BE LIABLE TO ANY PERSON FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR OTHER DAMAGES WHATSOEVER, ARISING OUT OF OR IN CONNECTION WITH YOUR ACCESS TO, USE OF OR INABILITY TO USE THE SERVICE PORTAL INCLUDING WITHOUT LIMITATION BUSINESS INTERRUPTION OR LOSS OF USE, DATA, INFORMATION OR PROFITS, REGARDLESS OF THE FORM OF ACTION, INCLUDING WITHOUT LIMITATION CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACT. THIS LIMITATION APPLIES EVEN IF THE PROVINCE HAS BEEN ADVISED OF, OR FORESEES, THE POSSIBILITY OF ANY DAMAGES OCCURRING.</p>
<p>EVEN THOUGH INFORMATION TRANSMITTED THROUGH THE SERVICE PORTAL IS ENCRYPTED, PRIVACY AND SECURITY CANNOT BE GUARANTEED.&nbsp; IF YOU DECIDE TO TRANSMIT INFORMATION THROUGH THE SERVICE PORTAL, YOU DO SO AT YOUR OWN RISK AND THE PROVINCE WILL NOT BE RESPONSIBLE OR HAVE ANY LIABILITY FOR ANY DAMAGES THAT YOU OR ANY THIRD PARTY MAY SUFFER AS A RESULT OF THE TRANSMISSION OF CONFIDENTIAL OR PERSONAL INFORMATION THROUGH THE SERVICE PORTAL.</p>
<p><strong><u>THIRD PARTY WEBSITES AND CONTENT</u></strong></p>
<p>In the course of using the Service Portal, you may access or be provided with links to third party websites or embedded information that belongs to third parties (collectively, &ldquo;<strong>Third Party Content</strong>&rdquo;).&nbsp; Third Party Content is provided for your convenience and reference only.</p>
<p>Third party websites are independent from the Province and the Province does not endorse, recommend, control or make any representations, warranties or conditions concerning the Third Party Content found on those websites or those parties themselves.&nbsp; For clarity, the BCeID Site is not a third party website.&nbsp;</p>
<p>It is your responsibility to verify the accuracy, completeness and currency of any Third Party Content before relying on it. The Province shall have no liability whatsoever arising from or relating to your access to or use of any Third Party Content.</p>
<p>Linked websites, including the BCeID Site, are likely to have their own terms and conditions that you should locate and review, and any Personal Information collected from you at such websites is collected solely by that website provider in accordance with their own privacy policies.</p>
<p><strong><u>VIRUSES AND OTHER PROHIBITED USES</u></strong></p>
<p>You must not input or upload any information through the Service Portal which contains viruses, Trojan horses, worms, time bombs or other computer programming routines that may damage or interfere with the performance or function of the Service Portal.&nbsp; The Province assumes no responsibility or liability for any damages to, or viruses that may infect, your computer equipment or other property in connection with your access to or use of the Service Portal or your downloading or uploading of any data, text, images, files or other Content from or to the Service Portal.</p>
<p>You are prohibited from using the Service Portal or any Content:</p>
<p>- &nbsp;&nbsp;&nbsp;&nbsp; for any purpose that is contrary to these Terms</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for any unlawful purpose</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for the purpose of violating international, federal or provincial laws or regulations</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to infringe upon or violate the Province&rsquo;s intellectual property rights or the intellectual property rights of others</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for collecting or tracking the personal information of others</p>
<p>- &nbsp;&nbsp;&nbsp;&nbsp; to spam, phish, pharm, pretext, spider, crawl or scrape any Content</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to interfere with or circumvent the security features of the Service Portal, any other websites or the Internet</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in any way that could damage, disable, overburden or impair the Service Portal, or interfere with anyone else&rsquo;s use of the Service Portal.</p>
<p>You may not provide links to any Content without the prior written permission of the Province. Any such permission may be revoked by the Province at any time in its sole discretion.</p>
<p><strong><u>RELEASE AND </u></strong><strong><u>INDEMNITY</u></strong></p>
<p>You agree to forever release and to defend, indemnify and hold the Province, its employees, agents and other representatives harmless from any and all claims, liabilities, costs and expenses, including reasonable legal fees, arising from any act or omission, or violation of these Terms, by you or in any way connected with your access to or use of the Service Portal, the Content or any Third Party Content, including without limitation from any liability related to the transmission of information through the Service Portal and any losses or harm that may result from the provision of incorrect Contact Information.</p>
<p><strong><u>INTELLECTUAL PROPERTY</u></strong></p>
<p>Both the Service Portal and the Content available on the Service Portal are owned by the Province or its licensors and protected by copyright, trademark and other laws.&nbsp; Except for any rights granted in these Terms, all intellectual property rights in and to the Service Portal and the Content are reserved by the Province.</p>
<p>You may download, copy, print and use the Content but only to the extent necessary to access and make use of the Services or, in an offline environment, any related Recalculation services.</p>
<p>You must not otherwise use, reproduce, distribute, modify or create derivative works from any of the Content, or permit any other person or entity to do so, without the prior written consent of the Province.&nbsp; Without limiting the previous sentence, you must not use, reproduce or modify any Content in any way that falsely indicates (or could lead to a false perception) that the Province is the source of, or has endorsed, any information provided by you.</p>
<p><strong><u>WAIVER</u></strong></p>
<p>The Province&rsquo;s failure to insist upon or enforce strict performance of any provision of these Terms shall not be construed as a waiver of any provision or rights contained in these Terms.</p>
<p><strong><u>TERMINATION</u></strong></p>
<p>We reserve the right to terminate your access to the Service Portal or Content at any time, in our sole discretion and for any reason whatsoever, without notice and without any liability to you.</p>
<p>If your permission to access or use all or any part of the Service Portal is terminated by us, then these Terms and all other existing agreements in place between you and us at that time will continue to indefinitely apply and be binding upon you regarding your prior access to and use of the Service Portal and anything connected with, relating to or arising from your use of the Service Portal.</p>
<p><strong><u>SEVERABILITY</u></strong></p>
<p>If any provision of these Terms or the application of them to any person or circumstance is deemed by a court to be invalid or unenforceable to any extent, the remainder of these Terms and the application of such provision to any other person or circumstance will not be affected or impaired and will be valid and enforceable to the extent permitted by law.</p>
<p><strong><u>APPLICABLE LAW </u></strong></p>
<p>These Terms and your use of the Service Portal and the Content are governed by the federal and provincial laws applicable in the Province of British Columbia. Any dispute relating to or arising from these Terms or your use of the Service Portal or the Content will be finally settled in, and the parties hereby attorn to the exclusive jurisdiction of, the Supreme Court of British Columbia sitting in the City of Victoria.</p>
<p>None of the Content available on the Service Portal replaces, modifies or changes any meaning or interpretation of any part of the British Columbia <em>Family Law Act</em> or its regulations (the &ldquo;<strong>Act</strong>&rdquo;). In the case of a discrepancy between any Content and the Act, the Act shall govern.</p>

  </div>
  <div mat-dialog-actions align="end" style="color: #009CDE;">
      <button mat-button mat-dialog-close>Close window X</button>
  </div>
</div>
